<template lang="html">
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-actions>
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="headline">
                จัดการ วันหยุด
              </v-list-item-title>
              <v-list-item-subtitle
                >เพิ่มวันหยุด หรือ วัน
                <v-chip class="ma-0" text-color="white" color="pink" small
                  >ปิด</v-chip
                >
                ให้บริการ</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="dialogHoliday = true">
            <v-icon class="pr-1">mdi-checkerboard-plus</v-icon>เพิ่ม
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <v-data-table
            :headers="headerHoliday"
            :items="dataHoliday"
            class="elevation-1"
            locale="th-TH"
          >
            <template #[`item.holiday_date`]="{ item }">
              {{
                $moment(item.holiday_date)
                  .add(543, 'years')
                  .format('Do MMMM YYYY')
              }}
            </template>
            <template #[`item.member_update`]="{ item }">
              <div>
                {{ item.member_fullname }}
              </div>

              <v-chip small>
                {{ item.ref_datetime }}
              </v-chip>
            </template>
            <template #[`item.tools`]="{ item }">
              <v-btn
                color="warning"
                class="white--text"
                small
                @click="handleClickHolidayEdit(item)"
              >
                <v-icon left dark> mdi-cog </v-icon>
                แก้ไข
              </v-btn>
              <v-btn small @click="handleClickHolidayDel(item.holiday_date)">
                <v-icon left dark color="red"> mdi-delete-forever </v-icon>
                ลบ
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-card-actions>
          <v-card-title class="headline"> จัดการ พิเศษ </v-card-title>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="dialogSpecial = true">
            <v-icon class="pr-1">mdi-checkerboard-plus</v-icon>เพิ่ม
          </v-btn>
        </v-card-actions>
        <v-card-subtitle>
          <v-chip class="mr-1" text-color="white" color="success" small
            >เพิ่ม</v-chip
          ><v-chip class="mr-1" text-color="white" color="warning" small
            >ลด</v-chip
          ><v-chip class="mr-1" text-color="white" color="pink" small
            >0 = ปิด</v-chip
          >
          จำนวนวัน ของรายการและรอบช่วงเวลาให้บริการ
        </v-card-subtitle>
        <v-card-text>
          <v-card-text>
            <v-data-table
              :headers="headerSpecial"
              :items="dataSpecial"
              class="elevation-1"
              locale="th-TH"
            >
              <template #[`item.date`]="{ item }">
                {{
                  $moment(item.date).add(543, 'years').format('Do MMMM YYYY')
                }}
              </template>
              <template #[`item.service_rang`]="{ item }">
                <v-chip
                  text-color="white"
                  small
                  :style="`background-color: ${
                    item.color_row ? item.color_row : '#fff'
                  }`"
                >
                  <v-avatar left>
                    <v-icon color="yellow lighten-1">mdi-clock-fast</v-icon>
                  </v-avatar>
                  {{ item.booking_name }} ({{
                    item.booking_time_start | truncate(5)
                  }}
                  - {{ item.booking_time_end | truncate(5) }})
                </v-chip>
              </template>
              <template #[`item.num`]="{ item }">
                <span :class="item.num == 0 ? 'error--text' : 'info--text'">{{
                  item.num
                }}</span>
              </template>
              <template #[`item.member_update`]="{ item }">
                <div>
                  {{ item.member_fullname }}
                </div>

                <v-chip small>
                  {{ item.ref_datetime }}
                </v-chip>
              </template>
              <template #[`item.tools`]="{ item }">
                <v-btn
                  color="warning"
                  class="white--text"
                  small
                  @click="handleClickSpecialEdit(item)"
                >
                  <v-icon left dark> mdi-cog </v-icon>
                  แก้ไข
                </v-btn>
                <v-btn small @click="handleClickSpecialDel(item.id)">
                  <v-icon left dark color="red"> mdi-delete-forever </v-icon>
                  ลบ
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card-text>
      </v-card>
    </v-col>

    <v-dialog v-model="dialogHoliday" persistent max-width="310">
      <v-card>
        <v-card-title>
          <span class="headline">{{
            formHoliday.holiday_name ? 'แก้ไขวันหยุด' : 'เพิ่มวันหยุด'
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-form ref="form" v-model="validHoliday" lazy-validation>
              <v-date-picker
                v-model="formHoliday.holiday_date"
                locale="th-TH"
                show-current="false"
                :min="`${$moment().add(1, 'days').format('YYYY-MM-DD')}`"
                :max="`${$moment().add(1, 'years').format('YYYY-MM-DD')}`"
              ></v-date-picker>
              <v-textarea
                v-model="formHoliday.holiday_name"
                label="คำอธิบาย ของวันหยุด"
                counter
                maxlength="250"
                full-width
                single-line
                rows="2"
                class="pa-0 ma-0"
                :rules="[
                  (v) => !!v || 'กรุณาใส่คำอธิบาย',
                  (v) =>
                    (v && v.length > 5) ||
                    'กรุณาใส่คำอธิบาย อย่างน้อย 5 ตัวอักษรขึ้นไป',
                ]"
              ></v-textarea>
            </v-form>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn color="darken-1" @click="reset"> ปิด </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success darken-1" @click="validate"> บันทึก </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogSpecial" persistent max-width="650px">
      <v-card>
        <v-card-title>
          <span class="headline">{{
            formSpecial.data_type == 'edit'
              ? 'แก้ไขรายการพิเศษ'
              : 'เพิ่มรายการพิเศษ'
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-form ref="formSpecial" v-model="validSpecial" lazy-validation>
              <v-container>
                <v-row>
                  <v-col class="pa-1" cols="12" md="6">
                    <v-date-picker
                      v-model="formSpecial.date"
                      locale="th-TH"
                      show-current="false"
                      :min="`${$moment().add(1, 'days').format('YYYY-MM-DD')}`"
                      :max="`${$moment().add(1, 'years').format('YYYY-MM-DD')}`"
                      :allowed-dates="allowedDatesFn"
                      @update:picker-date="pickerUpdate($event)"
                    ></v-date-picker>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-select
                      v-model="formSpecial.service_planthai"
                      :items="service_planthai"
                      item-text="service_name"
                      item-value="id"
                      no-data-text="ไม่มี ข้อมูล"
                      label="เลือกการให้บริการ"
                      dense
                      outlined
                      class="mt-3"
                      :rules="[(v) => !!v || 'กรุณาเลือก การให้บริการ ด้วยค่ะ']"
                      :disabled="!formSpecial.date"
                      @change="getBookingTimeLimit()"
                      required
                    >
                      <template #item="{ item }">
                        <v-img
                          :src="item.service_img_url"
                          lazy-src="/no_image.png"
                          max-height="50"
                          max-width="50"
                        />
                        {{ item.service_name }}</template
                      >
                    </v-select>

                    <v-select
                      v-model="formSpecial.bookingtime_items"
                      :items="bookingtime_items"
                      :item-text="textIsItem"
                      item-value="id"
                      no-data-text="ไม่มี ข้อมูล"
                      label="เลือกช่วงเวลา"
                      dense
                      outlined
                      class="mt-3"
                      :rules="[(v) => !!v || 'กรุณาเลือก ช่วงเวลา ด้วยค่ะ']"
                      :disabled="!formSpecial.date"
                      required
                    >
                      <template #item="{ item }">
                        {{ item.booking_name }} ({{
                          item.booking_time_start | truncate(5)
                        }}
                        - {{ item.booking_time_end | truncate(5) }})
                      </template>
                    </v-select>

                    <v-text-field
                      v-model="formSpecial.num"
                      type="number"
                      label="จำนวนวัน"
                      min="0"
                      hint="ระบุจำนวน ของการรับบริการ หาก 0 คือ ปิดการใช้งานช่วงเวลานั้นๆ"
                      persistent-hint
                      :rules="[(v) => v >= 0 || 'กรุณาระบุ จำนวนวัน ด้วยค่ะ']"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn color="darken-1" @click="resetSpecial"> ปิด </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success darken-1" @click="validateSpecial">
            บันทึก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import * as ManagerApi from '@/utils/managerApi'
import * as DataApi from '@/utils/dataApi'
export default {
  filters: {
    truncate(string, value) {
      return string.substring(0, value)
    },
  },
  data: () => ({
    dialogHoliday: false,
    headerHoliday: [
      { text: 'วันที่', value: 'holiday_date', align: 'center' },
      {
        text: 'คำอธิบาย',
        value: 'holiday_name',
        sortable: false,
        width: '50%',
      },
      {
        text: 'ผู้แก้ไขล่าสุด',
        value: 'member_update',
        sortable: false,
        align: 'center',
      },
      { text: 'เครื่องมือ', value: 'tools', sortable: false, align: 'center' },
    ],
    dataHoliday: [],
    validHoliday: true,
    formHoliday: {},
    dialogSpecial: false,
    headerSpecial: [
      { text: 'วันที่', value: 'date', align: 'center' },
      { text: 'รายการให้บริการ', value: 'service_name' },
      {
        text: 'ช่วงเวลา',
        value: 'service_rang',
        align: 'center',
        sortable: false,
      },
      { text: 'จำนวน(คน)', value: 'num', align: 'center' },
      {
        text: 'ผู้แก้ไขล่าสุด',
        value: 'member_update',
        sortable: false,
        align: 'center',
      },
      { text: 'เครื่องมือ', value: 'tools', sortable: false, align: 'center' },
    ],
    dataSpecial: [],
    validSpecial: true,
    formSpecial: {},
    service_planthai: [],
    bookingtime_items: [],
    dateDisable: [],
    availableDates: [],
  }),
  mounted() {
    this.getDataHoliday()
    this.getDataSpecial()
    this.getServicePlanthai()
    // this.panel = [...Array(this.items).keys()].map((k, i) => i)
  },
  methods: {
    async getServicePlanthai() {
      const res = await DataApi.servicePlanthai()
      // console.log(res.data)
      if (res.data.ok) {
        this.service_planthai = res.data.rows
      }
    },
    async getBookingTimeLimit() {
      // console.log('getBookingTimeLimit')
      const service_planthai = this.formSpecial.service_planthai
      const date = this.formSpecial.date
      try {
        if ((service_planthai != null) & (date != null)) {
          const res = await DataApi.bookingLimit(service_planthai, date)
          // console.log(res.data.rows)
          if (res.data.ok) {
            // bookingtime_items
            this.bookingtime_items = res.data.rows
          }
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'ระบบเกิดข้อผิดพลาด!',
          text: e.message,
          footer:
            '<span style="color: red;">กรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
        })
      }
    },
    textIsItem(item) {
      const date_start = item.booking_time_start.substr(0, 5)
      const date_end = item.booking_time_end.substr(0, 5)

      return `${item.booking_name} (${date_start}-${date_end})`
    },
    async getDataHoliday() {
      try {
        const res = await ManagerApi.getHolidayAll()
        // console.log(res.data.rows)
        if (res.data.ok) {
          const obj = res.data.rows
          this.dataHoliday = obj
          for (var i in obj) {
            // console.log(obj[i].holiday_date)
            this.dateDisable.push(obj[i].holiday_date)
          }
        } else {
          this.$swal({
            icon: 'error',
            title: 'เกิดข้อผิดพลาด',
            html: `<span style="color:red">${res.data.message}</span>`,
            timerProgressBar: true,
            showConfirmButton: false,
          })
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด',
          text: e,
          timerProgressBar: true,
          showConfirmButton: false,
        })
      }
    },
    handleClickHolidayEdit(v) {
      // console.log(v)
      this.dialogHoliday = true
      this.formHoliday.data_type = 'edit'
      this.formHoliday.holiday_date_old = v.holiday_date
      this.formHoliday.holiday_date = v.holiday_date
      this.formHoliday.holiday_name_old = v.holiday_name
      this.formHoliday.holiday_name = v.holiday_name
    },
    handleClickHolidayDel(v) {
      // console.log(v)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:red">ต้องการลบข้อมูลหรือไม่?</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.delHoliday(v)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: '<h3 style="color:red">ลบข้อมูลแล้ว</h3>',
              text: 'เรียบร้อยแล้ว',
              timerProgressBar: true,
              showConfirmButton: false,
              timer: 1500,
            })
            this.getDataHoliday()
          } else {
            this.$swal({
              icon: 'warning',
              title: 'แจ้งเตือน!',
              text: res.data.message,
              showConfirmButton: true,
            })
          }
        }
      })
    },
    async saveDataHoliday(v) {
      // console.log(v)
      if (
        this.formHoliday.holiday_date == this.formHoliday.holiday_date_old &&
        this.formHoliday.holiday_name == this.formHoliday.holiday_name_old
      ) {
        // No Cheng Data
        this.$swal({
          icon: 'warning',
          title: 'แจ้งเตือน!',
          text: 'ข้อมูลไม่ได้มีการเปลี่ยนแปลง',
          showConfirmButton: true,
        })
      } else {
        this.$swal({
          title: 'คุณแน่ใจหรือไม่?',
          html: `ต้องการ <span style="color:orange">บันทึกข้อมูลหรือไม่?</span>`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'ตกลง',
          cancelButtonText: 'ยกเลิก',
        }).then(async (result) => {
          if (result.isConfirmed) {
            const res = await ManagerApi.saveHoliday(v)
            // console.log(res)
            if (res.data.ok) {
              this.$swal({
                icon: 'success',
                title: 'บันทึกข้อมูล',
                text: 'เรียบร้อยแล้ว',
                showConfirmButton: true,
              })
              this.getDataHoliday()
            } else {
              this.$swal({
                icon: 'warning',
                title: 'แจ้งเตือน!',
                text: res.data.message,
                showConfirmButton: true,
              })
            }
            this.reset()
          }
        })
      }
    },
    validate() {
      if (this.$refs.form.validate() === true) {
        if (this.formHoliday.holiday_date) {
          this.saveDataHoliday(this.formHoliday)
        } else {
          this.$swal({
            icon: 'warning',
            title: 'เกิดข้อผิดพลาด',
            text: 'กรุณาเลือกวันที่ด้วยค่ะ',
            showConfirmButton: true,
          })
        }
      }
    },
    reset() {
      this.$refs.form.reset()
      this.dialogHoliday = false
      this.formHoliday = {}
    },
    async getDataSpecial() {
      try {
        const res = await ManagerApi.getSpecialAll()
        // console.log(res.data.rows)
        if (res.data.ok) {
          this.dataSpecial = res.data.rows
        } else {
          this.$swal({
            icon: 'error',
            title: 'เกิดข้อผิดพลาด',
            html: `<span style="color:red">${res.data.message}</span>`,
            timerProgressBar: true,
            showConfirmButton: false,
          })
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด',
          text: e,
          timerProgressBar: true,
          showConfirmButton: false,
        })
      }
    },
    validateSpecial() {
      if (this.$refs.formSpecial.validate() === true) {
        this.saveDataSpecial(this.formSpecial)
      }
    },
    resetSpecial() {
      this.$refs.formSpecial.reset()
      this.dialogSpecial = false
      this.formSpecial = {}
    },
    saveDataSpecial(v) {
      // console.log(v)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:orange">บันทึกข้อมูลหรือไม่?</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.saveSpecialDay(v)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: 'บันทึกข้อมูล',
              text: 'เรียบร้อยแล้ว',
              showConfirmButton: true,
            })
            this.getDataSpecial()
          } else {
            this.$swal({
              icon: 'warning',
              title: 'แจ้งเตือน!',
              text: res.data.message,
              showConfirmButton: true,
            })
          }
          this.resetSpecial()
        }
      })
    },
    handleClickSpecialEdit(v) {
      // console.log(v)
      this.formSpecial.data_type = 'edit'
      this.formSpecial.id = v.id
      this.formSpecial.date = v.date
      this.formSpecial.service_planthai = v.service_id
      this.formSpecial.bookingtime_items = v.booking_id
      this.formSpecial.num = v.num
      this.dialogSpecial = true
      this.getBookingTimeLimit()
    },
    handleClickSpecialDel(v) {
      // console.log(v)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:red">ต้องการลบข้อมูลหรือไม่?</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.delSpecialDay(v)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: '<h3 style="color:red">ลบข้อมูลแล้ว</h3>',
              text: 'เรียบร้อยแล้ว',
              timerProgressBar: true,
              showConfirmButton: false,
              timer: 1500,
            })
            this.getDataSpecial()
          } else {
            this.$swal({
              icon: 'warning',
              title: 'แจ้งเตือน!',
              text: res.data.message,
              showConfirmButton: true,
            })
          }
        }
      })
    },
    allowedDatesFn(a) {
      const removeCommon = (first, second) => {
        const spreaded = [...first, ...second]
        return spreaded.filter((el) => {
          return !(first.includes(el) && second.includes(el))
        })
      }
      return removeCommon(this.availableDates, this.dateDisable).includes(a)
    },
    pickerUpdate(val) {
      let totalDay = this.$moment(val, 'YYYY-MM').daysInMonth()
      // console.log(totalDay)

      let availableDates = []

      let monthNow = this.$moment().format('M')
      let monthSelected = this.$moment(val).format('M')
      let day

      if (monthNow == monthSelected) day = this.$moment().format('D')
      else day = 1

      for (let i = day; i <= totalDay; i++) {
        let date = this.$moment()
          .month(val.split('-')[1] - 1)
          .date(i)
          .format('YYYY-MM-DD')
        if (this.$moment(date).day() !== 0) availableDates.push(date)
      }
      this.availableDates = availableDates
      this.allowedDatesFn()
    },
  },
}
</script>

<style lang="css" scoped></style>
