<template lang="html">
  <v-row>
    <Topbar title="จัดการคิว" colorClass="red" />
    <v-col cols="12">
      <v-card>
        <v-tabs
          v-model="tab"
          centered
          grow
          icons-and-text
          color="blue accent-4"
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            รอยืนยัน
            <v-icon x-large>mdi-hand-right</v-icon>
          </v-tab>

          <v-tab href="#tab-2" class="green--text">
            ยืนยันแล้ว
            <v-icon x-large>mdi-bell-check</v-icon>
          </v-tab>
          <v-tab href="#tab-3" class="red--text">
            เต็ม
            <v-icon x-large>mdi-alert-rhombus</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab" touchless>
          <v-tab-item value="tab-1">
            <v-expansion-panels v-model="open_panal_q_wait" multiple>
              <v-expansion-panel v-for="(item, index) in q_wait" :key="index">
                <v-expansion-panel-header
                  >{{ getKeyToName(parseInt(Object.keys(item))) }} จำนวน
                  <span class="pl-2 pr-2 flex-grow-0">
                    <v-chip
                      :color="
                        item[Object.keys(item)].length
                          ? 'primary flex-grow-0'
                          : 'flex-grow-0'
                      "
                    >
                      {{ item[Object.keys(item)].length }}
                    </v-chip>
                  </span>
                  ราย
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div
                    class="d-flex flex-column justify-space-between align-center"
                  >
                    <v-img
                      max-height="150"
                      max-width="300"
                      :src="getKeyToImg(parseInt(Object.keys(item)))"
                    ></v-img>
                  </div>
                  <v-text-field
                    v-model="search_q_wait"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    :headers="headers_q_wait"
                    :items="item[Object.keys(item)]"
                    :search="search_q_wait"
                    item-key="name"
                    class="elevation-1"
                  >
                    <template #[`item.member_fullname`]="{ item }">
                      <div class="text-center pt-2">
                        <v-badge
                          bordered
                          :top="item.member_gender == 1"
                          :bottom="!item.member_gender == 1"
                          :color="item.member_gender == 1 ? 'blue' : 'pink'"
                          :icon="
                            item.member_gender == 1
                              ? 'mdi-gender-male'
                              : 'mdi-gender-female'
                          "
                          overlap
                        >
                          <v-avatar size="40">
                            <v-img :src="item.member_img"></v-img>
                          </v-avatar>
                        </v-badge>
                        <div>
                          {{ item.member_fullname }}
                        </div>
                      </div>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.booking_name`]="{ item }">
                      <v-chip
                        text-color="white"
                        small
                        :style="`background-color: ${
                          item.color_row ? item.color_row : '#fff'
                        }`"
                      >
                        <v-avatar left>
                          <v-icon color="yellow lighten-1"
                            >mdi-clock-fast</v-icon
                          >
                        </v-avatar>
                        {{ item.booking_name }} ({{
                          item.booking_time_start | truncate(5)
                        }}
                        - {{ item.booking_time_end | truncate(5) }})
                      </v-chip>
                    </template>

                    <template #[`item.member_congenitaldisease`]="{ item }">
                      <span
                        :class="
                          item.member_congenitaldisease
                            ? 'pa-1 red white--text'
                            : ''
                        "
                        >{{ item.member_congenitaldisease }}</span
                      >
                    </template>

                    <template #[`item.actions`]="{ item }">
                      <v-btn
                        color="success"
                        class="ma-2 white--text"
                        @click="approvedItem(item)"
                        small
                      >
                        <v-icon left>
                          mdi-checkbox-marked-circle-outline
                        </v-icon>
                        รับจอง
                      </v-btn>
                    </template>
                  </v-data-table>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-tab-item>

          <v-tab-item value="tab-2">
            <v-expansion-panels v-model="open_panal_q_confirm" multiple>
              <v-expansion-panel
                v-for="(item, index) in q_confirm"
                :key="index"
              >
                <v-expansion-panel-header
                  >{{ getKeyToName(parseInt(Object.keys(item))) }} จำนวน
                  <span class="pl-2 pr-2 flex-grow-0">
                    <v-chip
                      :color="
                        item[Object.keys(item)].length
                          ? 'primary flex-grow-0'
                          : 'flex-grow-0'
                      "
                    >
                      {{ item[Object.keys(item)].length }}
                    </v-chip>
                  </span>
                  ราย
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div
                    class="d-flex flex-column justify-space-between align-center"
                  >
                    <v-img
                      max-height="150"
                      max-width="300"
                      :src="getKeyToImg(parseInt(Object.keys(item)))"
                    ></v-img>
                  </div>
                  <v-text-field
                    v-model="search_q_confirm"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    :headers="headers_q_confirm"
                    :items="item[Object.keys(item)]"
                    :search="search_q_confirm"
                    item-key="name"
                    class="elevation-1"
                  >
                    <template #[`item.member_fullname`]="{ item }">
                      <div class="text-center pt-2">
                        <v-badge
                          bordered
                          :top="item.member_gender == 1"
                          :bottom="!item.member_gender == 1"
                          :color="item.member_gender == 1 ? 'blue' : 'pink'"
                          :icon="
                            item.member_gender == 1
                              ? 'mdi-gender-male'
                              : 'mdi-gender-female'
                          "
                          overlap
                        >
                          <v-avatar size="40">
                            <v-img :src="item.member_img"></v-img>
                          </v-avatar>
                        </v-badge>
                        <div>
                          {{ item.member_fullname }}
                        </div>
                      </div>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.booking_name`]="{ item }">
                      <v-chip
                        text-color="white"
                        small
                        :style="`background-color: ${
                          item.color_row ? item.color_row : '#fff'
                        }`"
                      >
                        <v-avatar left>
                          <v-icon color="yellow lighten-1"
                            >mdi-clock-fast</v-icon
                          >
                        </v-avatar>
                        {{ item.booking_name }} ({{
                          item.booking_time_start | truncate(5)
                        }}
                        - {{ item.booking_time_end | truncate(5) }})
                      </v-chip>
                    </template>

                    <template #[`item.member_congenitaldisease`]="{ item }">
                      <span
                        :class="
                          item.member_congenitaldisease
                            ? 'pa-1 red white--text'
                            : ''
                        "
                        >{{ item.member_congenitaldisease }}</span
                      >
                    </template>

                    <template #[`item.actions`]="{ item }">
                      <v-btn
                        color="warning"
                        class="ma-1 white--text"
                        @click="sendLineCard(item)"
                        small
                      >
                        <v-icon left> mdi-alert </v-icon>
                        แจ้งเตือนผู้รับบริการ
                      </v-btn>
                      <v-btn
                        v-if="!item.check_in"
                        color="primary"
                        class="ma-1 white--text"
                        @click="confirmService(item.id)"
                        small
                      >
                        <v-icon left> mdi-handshake-outline </v-icon>
                        ยืนยันรับบริการ
                      </v-btn>
                      <v-chip
                        v-else
                        class="ma-1 white--text"
                        color="success"
                        small
                      >
                        <v-icon left> mdi-charity </v-icon>
                        มารับบริการแล้ว
                      </v-chip>
                    </template>
                  </v-data-table>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-tab-item>

          <v-tab-item value="tab-3">
            <v-expansion-panels v-model="open_panal_q_full" multiple>
              <v-expansion-panel v-for="(item, index) in q_full" :key="index">
                <v-expansion-panel-header
                  >{{ getKeyToName(parseInt(Object.keys(item))) }} จำนวน
                  <span class="pl-2 pr-2 flex-grow-0">
                    <v-chip
                      :color="
                        item[Object.keys(item)].length
                          ? 'primary flex-grow-0'
                          : 'flex-grow-0'
                      "
                    >
                      {{ item[Object.keys(item)].length }}
                    </v-chip>
                  </span>
                  ราย
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <div
                    class="d-flex flex-column justify-space-between align-center"
                  >
                    <v-img
                      max-height="150"
                      max-width="300"
                      :src="getKeyToImg(parseInt(Object.keys(item)))"
                    ></v-img>
                  </div>
                  <v-text-field
                    v-model="search_q_full"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    :headers="headers_q_full"
                    :items="item[Object.keys(item)]"
                    :search="search_q_full"
                    item-key="name"
                    class="elevation-1"
                  >
                    <template #[`item.member_fullname`]="{ item }">
                      <div class="text-center pt-2">
                        <v-badge
                          bordered
                          :top="item.member_gender == 1"
                          :bottom="!item.member_gender == 1"
                          :color="item.member_gender == 1 ? 'blue' : 'pink'"
                          :icon="
                            item.member_gender == 1
                              ? 'mdi-gender-male'
                              : 'mdi-gender-female'
                          "
                          overlap
                        >
                          <v-avatar size="40">
                            <v-img :src="item.member_img"></v-img>
                          </v-avatar>
                        </v-badge>
                        <div>
                          {{ item.member_fullname }}
                        </div>
                      </div>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.booking_name`]="{ item }">
                      <v-chip
                        text-color="white"
                        small
                        :style="`background-color: ${
                          item.color_row ? item.color_row : '#fff'
                        }`"
                      >
                        <v-avatar left>
                          <v-icon color="yellow lighten-1"
                            >mdi-clock-fast</v-icon
                          >
                        </v-avatar>
                        {{ item.booking_name }} ({{
                          item.booking_time_start | truncate(5)
                        }}
                        - {{ item.booking_time_end | truncate(5) }})
                      </v-chip>
                    </template>

                    <template #[`item.member_congenitaldisease`]="{ item }">
                      <span
                        :class="
                          item.member_congenitaldisease
                            ? 'pa-1 red white--text'
                            : ''
                        "
                        >{{ item.member_congenitaldisease }}</span
                      >
                    </template>
                  </v-data-table>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
    <!-- {{ q_confirm }} -->
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as ManagerApi from '@/utils/managerApi'
export default {
  middleware: 'checkAdmin',
  layout: 'manager',
  components: {
    Topbar,
  },
  filters: {
    truncate(string, value) {
      return string.substring(0, value)
    },
  },
  data: () => ({
    tab: null,
    name_service: {},
    open_panal_q_wait: [],
    q_wait: {},
    search_q_wait: '',
    headers_q_wait: [
      { text: 'เลขจอง', value: 'id' },
      {
        text: 'ชื่อ-นามสกุล',
        align: 'center',
        sortable: false,
        value: 'member_fullname',
      },
      { text: 'อายุ(ปี)', value: 'member_birthday' },
      { text: 'วันที่จอง', value: 'inorder_booking_date' },
      { text: 'รอบการจอง', value: 'booking_name' },
      {
        text: 'โรคประจำตัว',
        value: 'member_congenitaldisease',
      },
      { text: 'เครื่องมือ', value: 'actions', sortable: false },
    ],

    open_panal_q_confirm: [],
    q_confirm: {},
    search_q_confirm: '',
    headers_q_confirm: [
      { text: 'เลขจอง', value: 'id' },
      {
        text: 'ชื่อ-นามสกุล',
        align: 'center',
        sortable: false,
        value: 'member_fullname',
      },
      { text: 'อายุ(ปี)', value: 'member_birthday' },
      { text: 'วันที่จอง', value: 'inorder_booking_date' },
      { text: 'รอบการจอง', value: 'booking_name' },
      {
        text: 'โรคประจำตัว',
        value: 'member_congenitaldisease',
      },
      {
        text: 'เครื่องมือ',
        value: 'actions',
        sortable: false,
        align: 'center',
      },
    ],

    open_panal_q_full: [],
    q_full: {},
    search_q_full: '',
    headers_q_full: [
      { text: 'เลขจอง', value: 'id' },
      {
        text: 'ชื่อ-นามสกุล',
        align: 'center',
        sortable: false,
        value: 'member_fullname',
      },
      { text: 'อายุ(ปี)', value: 'member_birthday' },
      { text: 'วันที่จอง', value: 'inorder_booking_date' },
      { text: 'รอบการจอง', value: 'booking_name' },
      {
        text: 'โรคประจำตัว',
        value: 'member_congenitaldisease',
      },
    ],
  }),
  mounted() {
    this.getData()
    // this.panel = [...Array(this.items).keys()].map((k, i) => i)
  },
  methods: {
    async getData() {
      const res = await ManagerApi.getManagerQ()
      console.log(res.data)
      const rsdata = res.data
      if (rsdata.ok) {
        // console.log(rsdata.rows.q_confirm)
        this.name_service = res.data.name_rows
        this.q_wait = rsdata.rows.q_wait
        this.q_wait.forEach((item, i) => {
          if (item[Object.keys(item)].length > 0) {
            this.open_panal_q_wait.push(i)
          }
        })

        this.q_confirm = rsdata.rows.q_confirm
        this.q_confirm.forEach((item, i) => {
          if (item[Object.keys(item)].length > 0) {
            this.open_panal_q_confirm.push(i)
          }
        })

        this.q_full = rsdata.rows.q_full
        this.q_full.forEach((item, i) => {
          if (item[Object.keys(item)].length > 0) {
            this.open_panal_q_full.push(i)
          }
        })
      }
    },
    getKeyToName(data) {
      // console.log(data)
      // console.log('this.name_service', this.name_service)
      const adults = this.name_service.filter(({ id }) => id == data)
      // console.log(adults[0].service_name)
      return adults[0].service_name
    },
    getKeyToImg(data) {
      const adults = this.name_service.filter(({ id }) => id == data)
      return adults[0].service_img_url
    },
    async approvedItem(val) {
      // console.log(val)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:orange">แจ้งเตือนผู้รับบริการ</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.approvedQ(val)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: 'ทำรายการสำเร็จ',
              text: `ส่งข้อความแจ้งเตือน เรียบร้อยแล้ว`,
              timerProgressBar: true,
              showConfirmButton: false,
              timer: 3000,
            })
            this.getData()
          } else {
            this.$swal({
              icon: 'warning',
              title: 'เกิดข้อผิดพลาด',
              text: res.data.message,
              timerProgressBar: true,
              showConfirmButton: false,
            })
          }
        }
      })
    },
    async sendLineCard(val) {
      console.log(val)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:orange">แจ้งเตือนผู้รับบริการ</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.alertQ(val)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: 'ทำรายการสำเร็จ',
              text: `ส่งข้อความแจ้งเตือน เรียบร้อยแล้ว`,
              timerProgressBar: true,
              showConfirmButton: false,
              timer: 3000,
            })
          }
        }
      })
    },
    confirmService(val) {
      // console.log(val)
      this.$swal({
        title: 'คุณแน่ใจหรือไม่?',
        html: `ต้องการ <span style="color:green">ยืนยันมารับบริการ</span>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'green',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก',
      }).then(async (result) => {
        if (result.isConfirmed) {
          const res = await ManagerApi.checkInQ({ id: val })
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: 'ทำรายการสำเร็จ',
              text: `เรียบร้อยแล้ว`,
              timerProgressBar: true,
              showConfirmButton: false,
              timer: 3000,
            })
            this.getData()
          }
        }
      })
    },
  },
}
</script>

<style lang="css" scoped></style>
