<template lang="html">
  <v-row>
    <Topbar title="จัดการผู้ใช้งาน" colorClass="red" />
    <v-col cols="12">
      <v-card>
        <v-tabs
          v-model="tab"
          color="deep-orange accent-4"
          centered
          grow
          icons-and-text
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            ผู้ใช้งานทั่วไป
            <v-icon x-large>mdi-account-settings</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            เจ้าหน้าที่
            <v-icon x-large>mdi-account-voice</v-icon>
          </v-tab>
          <v-tab href="#tab-3">
            ผู้ดูแลระบบ
            <v-icon x-large>mdi-account-hard-hat</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-col class="p-0 m-0 text-right" cols="12"
              >จำนวน
              <v-chip class="ma-2" color="primary">
                {{ arrayDataMember.length }}
              </v-chip>
              รายการ</v-col
            >
            <v-col class="p-0">
              <v-card>
                <v-card>
                  <v-card-title>
                    <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-data-table
                    :headers="headersTable"
                    :items="arrayDataMember"
                    :search="search"
                  >
                    <template #[`item.member_img`]="{ item }">
                      <v-badge
                        bordered
                        :top="item.member_gender == 1"
                        :bottom="!item.member_gender == 1"
                        :color="item.member_gender == 1 ? 'blue' : 'pink'"
                        :icon="
                          item.member_gender == 1
                            ? 'mdi-gender-male'
                            : 'mdi-gender-female'
                        "
                        overlap
                      >
                        <v-avatar size="40">
                          <v-img
                            :src="item.member_img"
                            lazy-src="/profile.png"
                          ></v-img>
                        </v-avatar>
                      </v-badge>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.member_tel`]="{ item }">
                      <a :href="`tel:${item.member_tel}`">{{
                        item.member_tel
                      }}</a>
                    </template>

                    <template v-slot:[`item.member_date_create`]="{ item }">
                      {{
                        $moment(item.member_date_create)
                          .add(543, 'years')
                          .format('Do MMMM YYYY')
                      }}
                    </template>

                    <template v-slot:[`item.status`]="{ item }">
                      <v-chip
                        class="ma-0"
                        :color="item.status ? 'success' : 'error'"
                        small
                      >
                        <v-icon left> mdi-account </v-icon
                        >{{ item.status ? 'ใช้งาน' : 'ปิดการใช้งาน' }}
                      </v-chip>
                    </template>
                    <template v-slot:[`item.tools`]="{ item }">
                      <v-btn
                        color="warning"
                        small
                        rounded
                        @click="editHandleClicked(item)"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        ปรับสถานะ
                      </v-btn>
                    </template>
                  </v-data-table>
                </v-card>
              </v-card>
            </v-col>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-col class="p-0 m-0 text-right" cols="12"
              >จำนวน
              <v-chip class="ma-2" color="primary">
                {{ arrayDataAdmin.length }}
              </v-chip>
              รายการ</v-col
            >
            <v-col class="p-0">
              <v-card>
                <v-card>
                  <v-card-title>
                    <v-text-field
                      v-model="searchAdmin"
                      append-icon="mdi-magnify"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-data-table
                    :headers="headersTable"
                    :items="arrayDataAdmin"
                    :search="searchAdmin"
                  >
                    <template #[`item.member_img`]="{ item }">
                      <v-badge
                        bordered
                        :top="item.member_gender == 1"
                        :bottom="!item.member_gender == 1"
                        :color="item.member_gender == 1 ? 'blue' : 'pink'"
                        :icon="
                          item.member_gender == 1
                            ? 'mdi-gender-male'
                            : 'mdi-gender-female'
                        "
                        overlap
                      >
                        <v-avatar size="40">
                          <v-img
                            :src="item.member_img"
                            lazy-src="/profile.png"
                          ></v-img>
                        </v-avatar>
                      </v-badge>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.member_tel`]="{ item }">
                      <a :href="`tel:${item.member_tel}`">{{
                        item.member_tel
                      }}</a>
                    </template>

                    <template v-slot:[`item.member_date_create`]="{ item }">
                      {{
                        $moment(item.member_date_create)
                          .add(543, 'years')
                          .format('Do MMMM YYYY')
                      }}
                    </template>

                    <template v-slot:[`item.status`]="{ item }">
                      <v-chip
                        class="ma-0"
                        :color="item.status ? 'success' : 'error'"
                        small
                      >
                        <v-icon left> mdi-account </v-icon
                        >{{ item.status ? 'ใช้งาน' : 'ปิดการใช้งาน' }}
                      </v-chip>
                    </template>
                    <template v-slot:[`item.tools`]="{ item }">
                      <v-btn
                        color="warning"
                        small
                        rounded
                        @click="editHandleClicked(item)"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        ปรับสถานะ
                      </v-btn>
                    </template>
                  </v-data-table>
                </v-card>
              </v-card>
            </v-col>
          </v-tab-item>
          <v-tab-item value="tab-3">
            <v-col class="p-0 m-0 text-right" cols="12"
              >จำนวน
              <v-chip class="ma-2" color="primary">
                {{ arrayDataSuperAdmin.length }}
              </v-chip>
              รายการ</v-col
            >
            <v-col class="p-0">
              <v-card>
                <v-card>
                  <v-data-table
                    :headers="headersTable"
                    :items="arrayDataSuperAdmin"
                  >
                    <template #[`item.member_img`]="{ item }">
                      <v-badge
                        bordered
                        :top="item.member_gender == 1"
                        :bottom="!item.member_gender == 1"
                        :color="item.member_gender == 1 ? 'blue' : 'pink'"
                        :icon="
                          item.member_gender == 1
                            ? 'mdi-gender-male'
                            : 'mdi-gender-female'
                        "
                        overlap
                      >
                        <v-avatar size="40">
                          <v-img
                            :src="item.member_img"
                            lazy-src="/profile.png"
                          ></v-img>
                        </v-avatar>
                      </v-badge>
                    </template>

                    <template #[`item.member_birthday`]="{ item }">
                      {{ $moment().diff(item.member_birthday, 'years') }}
                    </template>

                    <template v-slot:[`item.member_tel`]="{ item }">
                      <a :href="`tel:${item.member_tel}`">{{
                        item.member_tel
                      }}</a>
                    </template>

                    <template v-slot:[`item.member_date_create`]="{ item }">
                      {{
                        $moment(item.member_date_create)
                          .add(543, 'years')
                          .format('Do MMMM YYYY')
                      }}
                    </template>

                    <template v-slot:[`item.status`]="{ item }">
                      <v-chip
                        class="ma-0"
                        :color="item.status ? 'success' : 'error'"
                        small
                      >
                        <v-icon left> mdi-account </v-icon
                        >{{ item.status ? 'ใช้งาน' : 'ปิดการใช้งาน' }}
                      </v-chip>
                    </template>
                    <template v-slot:[`item.tools`]="{ item }">
                      <v-btn
                        color="warning"
                        small
                        rounded
                        @click="editHandleClicked(item)"
                      >
                        <v-icon left> mdi-pencil </v-icon>
                        ปรับสถานะ
                      </v-btn>
                    </template>
                  </v-data-table>
                </v-card>
              </v-card>
            </v-col>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
    <div class="text-center">
      <v-dialog v-model="dialogEdit" persistent>
        <v-card>
          <v-card-title class="headline warning lighten-2">
            ปรับสถานะ ({{ dataEdit.member_fullname }})
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-radio-group
                v-model="radioUserLevel"
                required
                :rules="[(v) => !!v || 'กรุณาเลือกระดับที่ต้องการจะเปลี่ยน']"
              >
                <template v-slot:label>
                  <div>
                    ระดับปัจจุบัน :
                    <strong :class="dataEdit.classStatusLevel">{{
                      dataEdit.oldStatusLevel
                    }}</strong>
                  </div>
                </template>
                <v-radio value="member">
                  <template v-slot:label>
                    <div>
                      ผู้ใช้งานทั่วไป
                      <strong class="primary--text">(Member)</strong>
                    </div>
                  </template>
                </v-radio>
                <v-radio value="admin">
                  <template v-slot:label>
                    <div>
                      เจ้าหน้าที่ <strong class="warning--text">(Admin)</strong>
                    </div>
                  </template>
                </v-radio>
                <v-radio value="superAdmin">
                  <!-- :disabled="dataEdit.member_status_level == 'superAdmin' ? true : false" -->
                  <template v-slot:label>
                    <div>
                      ผู้ดูแลระบบ
                      <strong class="error--text">(Super Admin)</strong>
                    </div>
                  </template>
                </v-radio>
              </v-radio-group>
              <hr />
              <v-radio-group v-model="radioUserStatus" row>
                <v-radio value="on">
                  <template #label> เปิดการใช้งาน </template>
                </v-radio>
                <v-radio label="ปิดการใช้งาน" value="off"></v-radio>
              </v-radio-group>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions class="grey lighten-1">
            <v-btn @click="reset"> ยกเลิก </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="success" :disabled="!valid" @click="validate">
              ยืนยัน
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as ManagerApi from '@/utils/managerApi'
export default {
  middleware: 'checkSuperAdmin',
  components: {
    Topbar,
  },
  filters: {
    truncate(string, value) {
      return string.substring(0, value)
    },
  },
  data: () => ({
    valid: true,
    tab: null,
    search: '',
    searchAdmin: '',
    headersTable: [
      {
        text: '',
        align: 'start',
        filterable: false,
        sortable: false,
        value: 'member_img',
        width: '50px',
      },
      { text: 'ชื่อ-นามสกุล', value: 'member_fullname', width: '30%' },
      { text: 'อายุ(ปี)', value: 'member_birthday' },

      { text: 'เบอร์โทร', value: 'member_tel' },
      { text: 'วันที่สมัคร', value: 'member_date_create', align: 'center' },
      { text: 'สถานะปัจจุบัน', value: 'status', align: 'center' },
      { text: 'เครื่องมือ', value: 'tools', sortable: false, align: 'center' },
    ],
    arrayDataMember: [],
    arrayDataAdmin: [],
    arrayDataSuperAdmin: [],
    dialogEdit: false,
    dataEdit: {},
    radioUserLevel: '',
    radioUserStatus: '',
  }),
  async fetch() {
    await this.getMemberList()
  },
  computed: {},

  methods: {
    async getMemberList() {
      this.loading = true
      const res = await ManagerApi.getMemberList()
      console.log(res)
      if (res.data.ok) {
        this.arrayDataMember = res.data.rows_member
        this.arrayDataAdmin = res.data.rows_admin
        this.arrayDataSuperAdmin = res.data.rows_superadmin
      } else {
        this.$swal({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด!',
          text: res.data.message,
          footer:
            '<span style="color: red;">หรือกรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
        })
      }
    },
    editHandleClicked(v) {
      // alert(v.status)
      this.dataEdit = v
      this.radioUserLevel = v.member_status_level
      this.radioUserStatus = v.status ? 'on' : 'off'
      if (v.member_status_level == 'superAdmin') {
        this.dataEdit.oldStatusLevel = 'ผู้ดูแลระบบ'
        this.dataEdit.classStatusLevel = 'error--text'
      } else if (v.member_status_level == 'admin') {
        this.dataEdit.oldStatusLevel = 'เจ้าหน้าที่'
        this.dataEdit.classStatusLevel = 'warning--text'
      } else {
        this.dataEdit.oldStatusLevel = 'ผู้ใช้งานทั่วไป'
        this.dataEdit.classStatusLevel = 'primary--text'
      }

      this.dialogEdit = true
    },
    async validate() {
      if (this.$refs.form.validate() === true) {
        const newUserStatus = this.radioUserStatus == 'on' ? 1 : 0
        if (
          this.dataEdit.member_status_level == this.radioUserLevel &&
          this.dataEdit.status == newUserStatus
        ) {
          // ค่าเดิม
          this.$swal({
            icon: 'question',
            title: 'ไม่มีการเปลี่ยนแปลงใดๆ',
            text: 'ระบบจะไม่บนทึกนะค่ะ',
          })
        } else {
          const data = {
            member_id: this.dataEdit.member_id,
            new_status_level: this.radioUserLevel,
            new_user_status: newUserStatus,
          }

          const res = await ManagerApi.updateMemberStatus(data)
          // console.log(res)
          if (res.data.ok) {
            this.$swal({
              icon: 'success',
              title: 'บันทึกสำเร็จ',
              html: `<span style="color: green;">ทำการ เรียบร้อยแล้วค่ะ!</span>`,
              footer:
                '<span style="color: green;">สามารถตรวจข้อมูลได้เลยค่ะ</span>',
            })
            this.dialogEdit = false
            await this.getMemberList()
          } else {
            this.$swal({
              icon: 'error',
              title: 'เกิดข้อผิดพลาด!',
              text: res.data.message,
              footer:
                '<span style="color: red;">หรือกรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
            })
          }
        }
      }
    },
    reset() {
      this.$refs.form.reset()
      this.radioUserLevel = ''
      this.radioUserStatus = ''
      this.dataEdit = {}
      this.dialogEdit = false
    },
    colorApprovedClass(item) {
      if (item == 1) {
        return 'green white--text'
      } else if (item == 2) {
        return 'red white--text'
      } else {
        return ''
      }
    },
    colorApprovedTextClass(item) {
      if (item == 1) {
        return 'green--text'
      } else if (item == 2) {
        return 'red--text'
      } else {
        return ''
      }
    },
    colorLEDApprovedClass(item) {
      if (item == 1) {
        return 'neon green-led'
      } else if (item == 2) {
        return 'neon pink-led'
      } else {
        return 'neon blue-led'
      }
    },
  },
}
</script>

<style scoped>
.neon {
  color: #fff;
  letter-spacing: 0.15em;
}

.blue-led {
  text-shadow: 0 0 5px #7bacff, 0 0 10px #7bacff, 0 0 20px #7bacff,
    0 0 40px #7bacff, 0 0 80px #7bacff, 0 0 90px #7bacff, 0 0 100px #7bacff,
    0 0 150px #7bacff;
}

.pink-led {
  text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac,
    0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac,
    0 0 150px #ff7bac;
}
.green-led {
  text-shadow: 0 0 5px #7bffce, 0 0 10px #7bffce, 0 0 20px #7bffce,
    0 0 40px #7bffce, 0 0 80px #7bffce, 0 0 90px #7bffce, 0 0 100px #7bffce,
    0 0 150px #7bffce;
}
</style>
