<template lang="html">
  <v-row>
    <Topbar title="จัดการบริการ" />
    <v-col cols="12">
      <!-- {{ desserts }}
      <br />
      dataMove: {{ dataMove }} -->
      <v-data-table
        :headers="headers"
        :items="desserts"
        class="elevation-1"
        :show-select="false"
        :disable-pagination="true"
        :hide-default-footer="true"
      >
        <template v-slot:body="props">
          <draggable
            v-model="desserts"
            tag="tbody"
            :move="dataMoveEvent"
            @update="moveUpdate(props.items)"
          >
            <tr v-for="(v, index) in desserts" :key="index">
              <td>
                <v-icon small class="page__grab-icon"> mdi-arrow-all </v-icon>
              </td>
              <td>{{ index + 1 }}</td>
              <td>{{ v.service_name }}</td>
              <td>
                <div
                  class="d-flex flex-column justify-space-between align-center"
                >
                  <v-img
                    max-height="50"
                    max-width="100"
                    :src="v.service_img_url"
                  ></v-img>
                </div>
              </td>
              <td>
                {{
                  $moment(v.service_update_timestamp)
                    .add(543, 'years')
                    .format('Do MMM YYYY H:mm:ss')
                }}
              </td>
              <td>
                <v-icon color="warning" class="mr-2" @click="editItem(v)">
                  mdi-pencil
                </v-icon>
                <v-icon color="error" @click="deleteItem(v)">
                  mdi-delete
                </v-icon>
              </td>
            </tr>
          </draggable>
        </template>
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>รายการ</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="mb-2"
              @click="addHandleServiceClicked"
            >
              เพิ่มบริการ
            </v-btn>
            <v-dialog
              v-model="dialog"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition"
            >
              <v-card color="amber lighten-5">
                <v-card-title class="info white--text">
                  <span class="headline">{{
                    editedItem.data_type == 'add'
                      ? 'เพิ่มรายการ'
                      : `แก้ไขรายการ ${editedItem.service_name} `
                  }}</span>
                  <v-spacer></v-spacer>
                  <v-btn class="red" dark icon @click="dialog = false">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      {{ editedItem }}<br />
                      files:{{ files }}
                      <v-row>
                        <v-col cols="12" class="pa-0">
                          <div class="d-flex flex-column align-center">
                            <v-img
                              v-if="editedItem.service_img_url"
                              max-height="150"
                              max-width="250"
                              lazy-src="/no_image.png"
                              :src="editedItem.service_img_url"
                            ></v-img>
                            <v-img
                              v-if="imagePreviewURL"
                              :src="imagePreviewURL"
                              lazy-src="/no_image.png"
                              max-height="150"
                              max-width="250"
                            ></v-img>
                            <v-file-input
                              v-model="editedItem.service_img_url"
                              class="mt-2"
                              color="deep-purple accent-4"
                              :rules="rulesImg"
                              accept="image/png, image/jpeg"
                              counter
                              label="อัพโหลดรูป"
                              placeholder="เลือก รูปภาพ ของท่าน"
                              prepend-icon="mdi-paperclip"
                              outlined
                              @change="onFileChange"
                              show-size
                              required
                            >
                            </v-file-input>
                          </div>
                        </v-col>

                        <v-col cols="12" class="pa-0">
                          <v-text-field
                            v-model="editedItem.service_name"
                            label="ชื่อรายการ"
                            :rules="[
                              (v) => !!v || 'กรุกรุณากรอกข้อมูล ด้วยค่ะ!',
                            ]"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" class="pa-0">
                          <v-textarea
                            v-model="editedItem.service_detail"
                            label="รายระเอียดรายการ"
                            hint="กรุณากรอกข้อมูล"
                            auto-grow
                            rows="3"
                            :counter="255"
                            :maxlength="255"
                          ></v-textarea>
                        </v-col>

                        <v-col cols="12" class="pa-2 white elevation-6">
                          <small> เพิ่มเติม</small>
                          <v-select
                            v-model="itemsSelected"
                            :items="itemsSelectAdd"
                            item-text="text"
                            item-value="value"
                            label="เลือกรูปแบบ"
                          >
                            <template #append-outer>
                              <v-btn
                                color="blue"
                                class="white--text"
                                @click="addTextFields"
                              >
                                <v-icon left dark>
                                  mdi-table-row-plus-after
                                </v-icon>
                                เพิ่ม
                              </v-btn>
                            </template>
                          </v-select>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12">
                          <!-- textFields:{{ textFields }} <br />
                        getTextFields: {{ getTextFields }} -->
                          {{ getTextFields }}
                          <v-card
                            v-for="(v, i) in getTextFields"
                            :key="i"
                            class="mb-3 text-fields-row"
                          >
                            <v-card-title
                              >{{ i + 1 }}.{{ v.nameDetail }}</v-card-title
                            >
                            <v-card-text>
                              <v-col v-if="v.inputType == 'text'" cols="12">
                                {{ v.value }}

                                <vue-editor
                                  v-model="v.value"
                                  :editor-toolbar="customToolbar"
                                />
                              </v-col>
                              <v-row v-else>
                                <v-col cols="6" v-if="v.value">
                                  <v-card>
                                    <v-img
                                      height="418"
                                      lazy-src="/no_image.png"
                                      :src="v.value"
                                      class="mx-auto"
                                    ></v-img>
                                    <v-card-title class="title">
                                      รูปเดิม
                                    </v-card-title>
                                  </v-card>
                                </v-col>
                                <v-col cols="6">
                                  <!-- <v-img
                                max-height="150"
                                max-width="250"
                                lazy-src="/no_image.png"
                                :src="v.name"
                                class="mx-auto"
                              ></v-img>
                              <v-file-input
                                v-model="v.name"
                                class="mt-2"
                                color="deep-purple accent-4"
                                :rules="rules"
                                accept="image/png, image/jpeg"
                                counter
                                label="อัพโหลดรูป"
                                placeholder="กรุณาเลือก รูปภาพ"
                                prepend-icon="mdi-paperclip"
                                outlined
                              >
                              </v-file-input> -->
                                  <v-card class="mx-auto">
                                    <v-image-input
                                      v-model="v.valueImageNew"
                                      :image-quality="0.85"
                                      image-format="png,jpeg"
                                      @file-info="onFileInfo"
                                      :image-height="270"
                                      :image-width="432"
                                    />
                                    <!-- {{ fileInfo }}                                 -->
                                    <v-card-title class="title">
                                      รูปใหม่
                                      <v-spacer></v-spacer>

                                      <v-btn
                                        class="ma-0 pa-0"
                                        text
                                        icon
                                        color="red lighten-1"
                                        small
                                      >
                                        <v-icon>mdi-image-remove</v-icon>
                                      </v-btn>
                                    </v-card-title>
                                  </v-card>
                                </v-col>
                              </v-row>
                              <!-- {{ v }} -->
                            </v-card-text>
                            <v-divider class="mx-4"></v-divider>
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                dark
                                color="red darken-1"
                                @click="removeTextFields(i)"
                              >
                                ลบ
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="grey darken-1" dark @click="close"> ปิด </v-btn>
                  <v-btn color="success darken-1" dark @click="save">
                    บันทึก
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline"
                  >Are you sure you want to delete this item?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
      </v-data-table>
      <small>ลากเพื่อเรียงลำดับ</small>
    </v-col>
    {{ editedItem }}
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import draggable from 'vuedraggable'
import * as ManagerApi from '@/utils/managerApi'
import * as DataApi from '@/utils/dataApi'

import VImageInput from 'vuetify-image-input'
// import Editor from '@tinymce/tinymce-vue'
// Import the editor
import { VueEditor } from 'vue2-editor'
export default {
  middleware: 'checkSuperAdmin',
  layout: 'manager',
  components: {
    Topbar,
    draggable,
    [VImageInput.name]: VImageInput,
    // editor: Editor,
    VueEditor,
  },
  data: () => ({
    valid: true,
    dialog: false,
    dialogDelete: false,
    headers: [
      { text: '', sortable: false },
      { text: 'ลำดับ(แสดง)', sortable: false },
      { text: 'รายการ', align: 'start', sortable: false },
      { text: 'รูป', class: 'text-center', sortable: false },
      { text: 'เวลาปรับปรุงล่าสุด', sortable: false },
      { text: 'เครื่องมือ', sortable: false },
    ],
    desserts: [],
    dataMove: {},
    editedIndex: -1,
    editedItem: {},
    defaultItem: {},
    files: [],
    rulesImg: [
      (value) =>
        !value || value.size < 2000000 || 'กรุณาเลือกรูปภาพ ขนาดไม่เกิน 2 MB!',
    ],
    textFieldsId: 0,
    textFields: [],
    itemsSelected: '',
    itemsSelectAdd: [
      { text: 'ข้อความ', value: 'text' },
      { text: 'รูปภาพ', value: 'image' },
    ],
    fileInfo: null,
    service_planthai_more: {},
    service_planthai_more_active: [],
    getTextFields: [],
    customToolbar: [
      ['bold', 'italic', 'underline'],
      [{ list: 'ordered' }, { list: 'bullet' }],
      [
        { align: '' },
        { align: 'center' },
        { align: 'right' },
        { align: 'justify' },
      ],
      [{ color: [] }],
    ],
    imagePreviewURL: null,
  }),

  computed: {
    formTitle() {
      return this.editedItem.data_type == 'add'
        ? 'เพิ่มรายการ'
        : `แก้ไขรายการ ${this.editedItem.service_name} `
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  created() {
    // this.initialize()
    this.getservicePlanthaiMore()
  },

  methods: {
    async initialize() {
      const res = await ManagerApi.serviceList()
      // console.log(res)
      if (res.data.ok) {
        this.desserts = res.data.rows
      }
    },
    async getservicePlanthaiMore() {
      const res = await DataApi.servicePlanthai()
      console.log(res.data)
      if (res.data.ok) {
        this.desserts = res.data.rows
        this.service_planthai_more = res.data.rs_more
      }
    },
    addHandleServiceClicked() {
      // console.log('addHandleServiceClicked')
      this.editedItem.data_type = 'add'
      this.dialog = true
    },
    editItem(item) {
      // console.log(item)

      this.editedItem = item
      this.editedItem.data_type = 'edit'
      // console.log(this.editedItem)
      this.dialog = true
      // console.log(item.id)

      // Reset
      this.getTextFields = []
      // this.service_planthai_more = []
      this.service_planthai_more.forEach((v) => {
        if (v.ref_service_planthai_id == item.id) {
          this.service_planthai_more_active.push(v)

          this.getTextFields.push({
            id: v.id,
            value: v.service_planthai_more_data,
            valueImageNew: '',
            nameDetail:
              v.service_planthai_more_type == 'text' ? 'ข้อความ' : 'รูปภาพ',
            inputType: v.service_planthai_more_type,
          })

          // if (v.service_planthai_more_type == 'image') {
          //   this.service_planthai_more_active_img.push({
          //     thumb: v.service_planthai_more_data,
          //     src: v.service_planthai_more_data,
          //   })
          // }
        }
      })
      console.log(
        'this.service_planthai_more_active',
        this.service_planthai_more_active
      )
      console.log('getTextFields', this.getTextFields)
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm() {
      // this.desserts.splice(this.editedIndex, 1)
      //get data
      this.closeDelete()
    },

    close() {
      this.editedItem = {}
      this.getTextFields = []
      this.dialog = false
      // this.$nextTick(() => {
      //   this.editedItem = Object.assign({}, this.defaultItem)
      //   this.editedIndex = -1
      // })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    async save() {
      // if (this.editedIndex > -1) {
      //   Object.assign(this.desserts[this.editedIndex], this.editedItem)
      // } else {
      //   this.desserts.push(this.editedItem)
      // }
      // console.log(this.files)
      if (this.$refs.form.validate() === true && this.files) {
        console.log('save !')
        // const res = await ManagerApi.saveService({
        //   main: this.editedItem,
        //   more: this.getTextFields,
        // })
        // console.log(res.data)

        this.$swal({
          icon: 'warning',
          title: 'กำลังพัฒนาระบบอยู่นะค่ะ!',
          text: 'อดใจรออีกนิดนะค่ะ',
          showConfirmButton: true,
        })
        // ปิด modol
        // this.close()
      }
    },
    dataMoveEvent(e) {
      this.dataMove = e.draggedContext
    },
    moveUpdate() {
      console.log(this.dataMove)
      // console.log(e)
    },
    addTextFields() {
      if (this.itemsSelected) {
        if (this.itemsSelected == 'text') {
          this.getTextFields.push({
            value: '',
            nameDetail: 'ข้อความ',
            inputType: 'text',
          })
        }
        if (this.itemsSelected == 'image') {
          this.getTextFields.push({
            inputType: 'image',
            valueImageNew: '',
            nameDetail: 'รูปภาพ',
          })
        }
      }
    },
    onFileInfo(file) {
      this.fileInfo = file
    },
    removeTextFields(index) {
      this.textFields.splice(index, 1)
    },
    onFileChange(file) {
      console.log(file)
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file)
        URL.revokeObjectURL(file) // free memory
      } else {
        this.imagePreviewURL = null
      }
    },
  },
}
</script>

<style lang="css" scoped></style>
