<template lang="html">
  <v-row>
    <Topbar title="จัดการให้บริการ" colorClass="red" />
    <v-col cols="12">
      <SlotService />
    </v-col>
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import SlotService from '@/components/Manager/SlotService'
export default {
  middleware: 'checkAdmin',
  layout: 'manager',
  components: {
    Topbar,
    SlotService,
  },
}
</script>

<style lang="css" scoped></style>
