<template lang="html">
  <v-row>
    <Topbar title="ตรวจสอบคิว" />
    <v-col cols="12">
      <v-card>
        <v-tabs
          v-model="tab"
          color="deep-orange accent-4"
          centered
          grow
          icons-and-text
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            รายการสถานะคิวล่าสุด
            <v-icon x-large>mdi-hand-right</v-icon>
          </v-tab>

          <v-tab href="#tab-2">
            ประวัติ
            <v-icon x-large>mdi-history</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-col class="p-0 m-0 text-right" cols="12"
              >จำนวนการจอง
              <v-chip class="ma-2" color="primary">
                {{ arrayOrderBook.length }}
              </v-chip>
              รายการ</v-col
            >
            <v-skeleton-loader
              v-for="(item, index) in arrayOrderBook"
              :key="index"
              class="mt-2"
              :loading="loading"
              type="list-item-three-line"
              elevation="20"
            >
              <v-card class="mb-2" flat>
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title class="headline">
                      <div class="error--text font-weight-bold headline">
                        <v-icon color="error" class="mr-1 display-1"
                          >mdi-calendar-blank-outline</v-icon
                        >
                        {{
                          $moment(item.inorder_booking_date)
                            .add(543, 'years')
                            .format('Do MMMM YYYY')
                        }}
                      </div>
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <v-chip color="info" text-color="white">
                        <v-avatar left>
                          <v-icon>mdi-clock-fast</v-icon>
                        </v-avatar>
                        {{ item.booking_name }} ({{
                          item.booking_time_start | truncate(5)
                        }}
                        - {{ item.booking_time_end | truncate(5) }})
                      </v-chip>
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-img
                  class="white--text align-end"
                  height="150px"
                  :src="item.service_img_url"
                >
                  <v-card-title class="headline">
                    <span
                      :class="
                        colorLEDApprovedClass(item.ref_approved_status_id)
                      "
                      >{{ item.service_name }}</span
                    >
                  </v-card-title>
                  <v-chip
                    :color="colorApprovedClass(item.ref_approved_status_id)"
                    class="ma-2"
                  >
                    <span>{{
                      item.approved_status_name || 'รอเจ้าหน้าที่'
                    }}</span>
                  </v-chip>
                </v-img>

                <v-divider class="p-0 m-0"></v-divider>
                <v-card-text class="pa-2" style="color: rgb(0 0 0 / 87%)">
                  <v-row>
                    <v-col cols="4" class="p-0"> สถานะ </v-col>
                    <v-col cols="8" class="p-0"
                      ><span
                        :class="
                          colorApprovedTextClass(item.ref_approved_status_id)
                        "
                      >
                        {{ item.approved_status_name || '-' }}</span
                      >
                    </v-col>
                  </v-row>
                  <v-row style="margin-top: -15px">
                    <v-col cols="4" class="p-0"> วันเวลาจอง </v-col>
                    <v-col cols="8" class="p-0">
                      {{
                        $moment(item.inorder_booking_create_datetime)
                          .add(543, 'years')
                          .format('Do MMMM YYYY H:mm:ss')
                      }}
                    </v-col>
                  </v-row>
                  <v-row style="margin-top: -15px">
                    <v-col cols="4"> เจ้าหน้าที่ยืนยัน </v-col>
                    <v-col cols="8">
                      {{ item.approved_fullname || '-' }}
                    </v-col>
                  </v-row>
                  <v-col
                    v-if="item.ref_approved_status_id"
                    cols="12"
                    :class="colorApprovedClass(item.ref_approved_status_id)"
                  >
                    {{ item.approved_status_note }}
                  </v-col>
                </v-card-text>
              </v-card>
            </v-skeleton-loader>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <v-card flat>
              <v-card-text>
                <v-data-table
                  :headers="headersHistory"
                  :items="dessertsHistory"
                  :expanded.sync="expanded"
                  item-key="id"
                  show-expand
                  class="elevation-1"
                >
                  <template v-slot:[`item.inorder_booking_date`]="{ item }">
                    {{
                      $moment(item.inorder_booking_date)
                        .add(543, 'years')
                        .format('Do MMMM YYYY')
                    }}
                  </template>

                  <template v-slot:[`item.approved_status_name`]="{ item }">
                    <v-chip
                      v-if="item.approved_status_name"
                      :color="colorApprovedClass(item.ref_approved_status_id)"
                      small
                    >
                      <span>{{ item.approved_status_name }}</span>
                    </v-chip>
                    <span v-else>-</span>
                  </template>

                  <template #expanded-item="{ item }">
                    <v-simple-table class="info" dark>
                      <template v-slot:default>
                        <tbody>
                          <tr>
                            <td width="35%">วันเวลาจอง</td>
                            <td>
                              {{
                                $moment(item.inorder_booking_create_datetime)
                                  .add(543, 'years')
                                  .format('Do MMMM YYYY H:mm:ss')
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td>ช่วงเวลาที่นัดหมาย</td>
                            <td>
                              {{ item.booking_name }} ({{
                                item.booking_time_start | truncate(5)
                              }}
                              - {{ item.booking_time_end | truncate(5) }})
                            </td>
                          </tr>
                          <tr>
                            <td>เจ้าหน้าที่ยืนยัน</td>
                            <td>
                              {{ item.approved_fullname || '-' }}
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                    <!-- <td :colspan="headers.length">
                      <v-row>
                        <v-col cols="4" class="p-0"> วันเวลาจอง </v-col>
                        <v-col cols="8" class="p-0">
                          {{
                            $moment(item.inorder_booking_create_datetime)
                              .add(543, 'years')
                              .format('Do MMMM YYYY H:mm:ss')
                          }}
                        </v-col>
                      </v-row>
                      <v-row style="margin-top: -15px">
                        <v-col cols="4"> ช่วงเวลาที่นัดหมาย </v-col>
                        <v-col cols="8">
                          {{ item.booking_name }} ({{
                            item.booking_time_start | truncate(5)
                          }}
                          - {{ item.booking_time_end | truncate(5) }})
                        </v-col>
                      </v-row>
                      <v-row style="margin-top: -15px">
                        <v-col cols="4"> เจ้าหน้าที่ยืนยัน </v-col>
                        <v-col cols="8">
                          {{ item.approved_fullname || '-' }}
                        </v-col>
                      </v-row>
                    </td> -->
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as DataApi from '@/utils/dataApi'
export default {
  components: {
    Topbar,
  },
  filters: {
    truncate(string, value) {
      return string.substring(0, value)
    },
  },
  data: () => ({
    show: false,
    tab: null,
    value: 100,
    loading: false,
    itemSelect: null,
    arrayOrderBook: {},
    expanded: [],
    singleExpand: false,
    headersHistory: [
      { text: 'วันที่', value: 'inorder_booking_date' },
      { text: 'รายการ', value: 'service_name' },
      { text: 'สถานะ', value: 'approved_status_name' },
      { text: '', value: 'data-table-expand' },
    ],
    dessertsHistory: [],
  }),
  async fetch() {
    if (this.$store.getters.getLine.userId) {
      await this.getOrderQHistory()
      await this.getOrderQ()
    } else {
      setTimeout(() => this.getOrderQHistory(), 500)
      setTimeout(() => this.getOrderQ(), 500)
    }
  },
  computed: {},

  methods: {
    async getOrderQ() {
      this.loading = true
      const res = await DataApi.getOrderBooking()
      // console.log(res)
      if (res.data.ok) {
        this.loading = false
        this.arrayOrderBook = res.data.rows
      } else {
        this.$swal({
          icon: 'warning',
          title: 'แจ้งเตือน!',
          text: res.data.message,
          showConfirmButton: true,
        })
      }
    },
    async getOrderQHistory() {
      const res = await DataApi.getOrderBookingHistory()
      // console.log(res)
      if (res.data.ok) {
        this.dessertsHistory = res.data.rows
      }
    },
    colorApprovedClass(item) {
      if (item == 1) {
        return 'green white--text'
      } else if (item == 2) {
        return 'red white--text'
      } else {
        return ''
      }
    },
    colorApprovedTextClass(item) {
      if (item == 1) {
        return 'green--text'
      } else if (item == 2) {
        return 'red--text'
      } else {
        return ''
      }
    },
    colorLEDApprovedClass(item) {
      if (item == 1) {
        return 'neon green-led'
      } else if (item == 2) {
        return 'neon pink-led'
      } else {
        return 'neon blue-led'
      }
    },
    getColor(value) {
      if (value > 100) return 'red'
      else if (value > 75) return 'orange'
      else return 'green'
    },
    deleteItem(item) {
      // const index = this.desserts.indexOf(item)
      const id = item.id
      console.log('id Item', id)
      // console.log('Object.assign({}, item)', Object.assign({}, item))
      // confirm('Are you sure you want to delete this item?') &&
      //   this.desserts.splice(index, 1)
    },
  },
}
</script>

<style scoped>
.neon {
  color: #fff;
  letter-spacing: 0.15em;
}

.blue-led {
  text-shadow: 0 0 5px #7bacff, 0 0 10px #7bacff, 0 0 20px #7bacff,
    0 0 40px #7bacff, 0 0 80px #7bacff, 0 0 90px #7bacff, 0 0 100px #7bacff,
    0 0 150px #7bacff;
}

.pink-led {
  text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac,
    0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac,
    0 0 150px #ff7bac;
}
.green-led {
  text-shadow: 0 0 5px #7bffce, 0 0 10px #7bffce, 0 0 20px #7bffce,
    0 0 40px #7bffce, 0 0 80px #7bffce, 0 0 90px #7bffce, 0 0 100px #7bffce,
    0 0 150px #7bffce;
}
</style>
