<template lang="html">
  <v-row>
    <Topbar />
    <v-col cols="12 pt-0" class="text-center">
      <v-avatar size="180" class="elevation-6">
        <v-card>
          <img
            v-if="getUser.member_img"
            lazy-src="/profile.png"
            :src="getUser.member_img"
            style="width: 100%"
          />
          <!-- <v-img
            v-if="$store.getters.getUser.member_img !== ''"
            :src="$store.getters.getUser.member_img"
            lazy-src="/profile.png"
            aspect-ratio="1"
            class="grey lighten-2"
          >
            <template #placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img> -->

          <v-row
            v-else
            class="fill-height pt-1"
            align="center"
            justify="center"
          >
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </v-card>
      </v-avatar>
    </v-col>

    <v-col cols="12">
      <div class="subtitle-1">รายการให้บริการ</div>
      <v-sheet class="mx-auto" elevation="4" max-width="800">
        <v-slide-group
          v-model="slideevent_select"
          class="pa-0"
          mandatory
          center-active
        >
          <v-slide-item
            v-for="(item, index) in slideevent_item"
            :key="index"
            :value="item.id"
            v-slot="{ active, toggle }"
            height="200"
          >
            <v-card
              :color="active ? 'primary ' : 'grey lighten-1'"
              class="ma-2"
              height="100"
              width="150"
              @click="toggle"
            >
              <v-img
                lazy-src="https://picsum.photos/id/11/10/6"
                class="yellow--text align-end p-0"
                :gradient="
                  active ? '' : 'to bottom, rgba(0,0,0,.1), rgba(0,0,0,.8)'
                "
                max-height="100"
                max-width="150"
                :src="item.service_img_url"
              >
                <v-chip class="ma-0" color="primary" small>
                  <v-card-text class="pa-1">{{
                    item.service_name
                  }}</v-card-text>
                </v-chip>
              </v-img>
              <!-- <v-card class="text-center">
                <v-card-subtitle>
                  {{ item.service_name }}
                </v-card-subtitle>
              </v-card> -->
              <v-row
                class="p-0"
                align="center"
                justify="center"
                style="margin-top: -95px"
              >
                <v-scale-transition>
                  <v-icon
                    v-if="active"
                    color="success"
                    size="69"
                    v-text="'mdi-check-circle-outline'"
                  ></v-icon>
                </v-scale-transition>
              </v-row>
            </v-card>
          </v-slide-item>
        </v-slide-group>

        <div class="pa-2">
          คุณเลือก :
          <span class="primary--text">{{ slideevent_select_name }}</span>
        </div>
      </v-sheet>
    </v-col>

    <v-col cols="12 pa-0">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-col cols="12" class="text-center">
          <h1>เลือกวัน</h1>
          {{ date }}
          <v-date-picker
            v-model="date"
            :allowed-dates="allowedDatesFn"
            :show-current="false"
            locale="th"
            full-width
            :min="dateMin"
            :max="dateMax"
            elevation="12"
            @update:picker-date="pickerUpdate($event)"
            @change="pickerChange"
          ></v-date-picker>
          <div class="pink pa-1 white--text text-left text-caption">
            ระบบนัดคิวออนไลน์ จะสามารถจองคิวได้
            <span class="yellow red--text pa-1">ล่วงหน้า 1 วันค่ะ</span>
          </div>

          <v-select
            v-model="bookingtime_select"
            :items="bookingtime_items"
            :item-text="textIsItem"
            item-value="id"
            :item-disabled="checkIsItemDisabled"
            no-data-text="ไม่มี ข้อมูล"
            label="เลือกช่วงเวลา"
            dense
            outlined
            class="mt-3"
            :rules="[(v) => !!v || 'กรุณาเลือก เลือกช่วงเวลา ด้วยค่ะ']"
            required
          ></v-select>

          <v-btn
            block
            large
            rounded
            :disabled="!valid"
            color="success"
            class="mb-n5"
            @click="validate"
          >
            จองคิว
          </v-btn>
        </v-col>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as DataApi from '@/utils/dataApi'
export default {
  middleware: 'checkMember',
  components: {
    Topbar,
  },
  data() {
    return {
      slideevent_select: null,
      slideevent_select_name: null,
      slideevent_item: {},
      valid: true,
      date: null,
      dateMin: this.$moment().add(1, 'days').format('YYYY-MM-DD'),
      dateMax: this.$moment().add(1, 'days').format('YYYY-MM-DD'),
      // dateMax: this.$moment().add(1, 'months').format('YYYY-MM-DD'),
      // arrayAllowedDates: ['2021-01-20', '2021-01-21', '2021-01-22'],
      dateDisable: [],
      availableDates: [],
      bookingtime_select: null,
      bookingtime_items: [],
      bookingtime_items_name: null,
    }
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser
    },
  },
  mounted() {
    this.getServicePlanthai()
    // this.getBookingTimeLimit()
    this.getDateDisable()
  },
  watch: {
    slideevent_select() {
      this.slideevent_item.forEach((v) => {
        if (v.id == this.slideevent_select) {
          this.date = null
          this.reset()
          this.slideevent_select_name = v.service_name
        }
      })
    },
    bookingtime_select() {
      this.bookingtime_items.forEach((v) => {
        if (v.id == this.bookingtime_select) {
          const date_start = v.booking_time_start.substr(0, 5)
          const date_end = v.booking_time_end.substr(0, 5)
          this.bookingtime_items_name = `${v.booking_name} (${date_start}-${date_end})`
        }
      })
    },
  },
  methods: {
    async getServicePlanthai() {
      const res = await DataApi.servicePlanthai()
      // console.log(res.data)
      if (res.data.ok) {
        this.slideevent_item = res.data.rows
      }
    },
    async getBookingTimeLimit() {
      const slideevent_select = this.slideevent_select
      const date = this.date
      try {
        if ((slideevent_select != null) & (date != null)) {
          const res = await DataApi.bookingLimit(slideevent_select, date)
          // console.log(res.data.rows)
          if (res.data.ok) {
            // bookingtime_items
            this.bookingtime_items = res.data.rows
          }
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'ระบบเกิดข้อผิดพลาด!',
          text: e.message,
          footer:
            '<span style="color: red;">กรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
        })
      }
    },
    async getDateDisable() {
      try {
        const res = await DataApi.getDateDisable()
        console.log(res.data)
        if (res.data.ok) {
          const obj = res.data.rows

          for (var i in obj) {
            console.log(obj[i].holiday_date)
            this.dateDisable.push(obj[i].holiday_date)
          }
          // console.log('arr', arr)
          // this.dateDisable = res.data.rows
        }
        console.log(this.dateDisable)
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'ระบบเกิดข้อผิดพลาด!',
          text: e.message,
          footer:
            '<span style="color: red;">กรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
        })
      }
    },
    textIsItem(item) {
      const date_start = item.booking_time_start.substr(0, 5)
      const date_end = item.booking_time_end.substr(0, 5)

      return `${item.booking_name} (${date_start}-${date_end})`
    },
    checkIsItemDisabled(item) {
      console.log(item)
      return item.status_booking_day !== 1
    },
    async validate() {
      if (this.$refs.form.validate() === true) {
        const data = {
          line_userId: this.getUser.member_line_userId,
          booking_date: this.date,
          booking_limit_id: this.bookingtime_select,
          service_planthai_id: this.slideevent_select,
        }
        const res = await DataApi.saveInOrderBooking(data)
        // console.log(res)
        if (res.data.ok) {
          this.$swal({
            icon: 'success',
            title: 'บันทึกสำเร็จ',
            html: `ทำการ จองคิวเรียบร้อยแล้วค่ะ!<br>
            บริการ : <span style="color:blue">${this.slideevent_select_name}</span><br>
            วันที่ : <span style="color:blue">${this.date}</span><br>
            ช่วงเวลา : <span style="color:blue">${this.bookingtime_items_name}</span>
            `,
            footer:
              '<span style="color: green;">สามารถตรวจสอบได้ที่เมนู ตรวจสอบคิว</span>',
          })
          this.$router.push({ path: '/queue/check_q' })
        } else {
          this.$swal({
            icon: 'error',
            title: 'เกิดข้อผิดพลาด!',
            text: res.data.message,
            footer:
              '<span style="color: red;">หรือกรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
          })
        }
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    allowedDatesFn(a) {
      const removeCommon = (first, second) => {
        const spreaded = [...first, ...second]
        return spreaded.filter((el) => {
          return !(first.includes(el) && second.includes(el))
        })
      }
      // console.log(removeCommon(this.availableDates, this.dateFullBook))
      return removeCommon(this.availableDates, this.dateDisable).includes(a)
    },
    pickerUpdate(val) {
      console.log('pickerUpdate')
      let totalDay = this.$moment(val, 'YYYY-MM').daysInMonth()
      console.log(totalDay)

      let availableDates = []

      let monthNow = this.$moment().format('M')
      let monthSelected = this.$moment(val).format('M')
      let day

      if (monthNow == monthSelected) day = this.$moment().format('D')
      else day = 1

      for (let i = day; i <= totalDay; i++) {
        let date = this.$moment()
          .month(val.split('-')[1] - 1)
          .date(i)
          .format('YYYY-MM-DD')
        if (this.$moment(date).day() !== 0) availableDates.push(date)
      }
      this.availableDates = availableDates
      this.allowedDatesFn()
    },
    pickerChange() {
      // console.log('pickerChange')
      this.getBookingTimeLimit()
    },
  },
}
</script>

<style lang="css" scoped></style>
