<template>
  <v-app dark>
    <!-- <Sidebar></Sidebar> -->
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <Footer></Footer>
  </v-app>
</template>

<script>
// import Sidebar from '@/components/Global/Sidebar'
// import Topbar from '@/components/Global/Topbar'
import Footer from '@/components/Global/Footer'
import * as DataApi from '@/utils/dataApi'
const liff = window.liff
export default {
  components: {
    Footer,
  },
  data() {
    return {}
  },
  computed: {
    getLine() {
      return this.$store.getters.getLine
    },
  },
  async fetch() {
    // console.log('root fetch')
    // this.lineInit()
    // await this.lineInitTest()
  },
  methods: {
    lineInit() {
      liff
        .init({
          liffId: '1654805027-LnR0JRx8',
        })
        .then(() => {
          if (liff.isLoggedIn()) {
            liff.getProfile().then((profile) => {
              // this.$store.dispatch('setLine', profile)
              this.lineIsDone(profile)
            })
          } else {
            liff.login()
          }
        })
    },
    async lineInitTest() {
      const profile = {
        displayName: 'Do Nirawit',
        pictureUrl:
          'https://profile.line-scdn.net/0h8sYneerhZ1xkF0ogqT8YC1hSaTETOWEUHHAsMkAUOm5OcCIJWnkrP0ASP2hKJiJdUXEuPkMXaTsb',
        statusMessage:
          '**working job E-Com,payment,Tragking,commission,Full-Dev**รับงาน Dev WebSite,WebApp,App',
        userId: 'U190074374a43d7f6354155264b726e3a',
      }
      await this.lineIsDone(profile)
    },
    async lineIsDone(profile) {
      // Login Line success[OK]
      console.log('profile default', profile)
      try {
        this.displayName = profile.displayName
        this.img_url = profile.pictureUrl
        this.lineUserId = profile.userId
        const res = await DataApi.checkliffAuth({ user_id: profile.userId })
        console.log('root checkliffAuth', res.data)
        if (res.data.ok) {
          this.$store.dispatch('setUser', res.data.rows)
          this.$store.dispatch('setLine', profile)
        } else {
          this.$swal('แจ้งเตือน!', 'กรุณาทำการลงทะเบียน', 'warning')
          this.$router.push('/')
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'ระบบเกิดข้อผิดพลาด!',
          text: e.message,
          footer:
            '<span style="color: red;">กรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
        })
      }
    },
  },
}
</script>
