<template>
  <v-app dark>
    <!-- <Sidebar></Sidebar> -->
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <Footer></Footer>
  </v-app>
</template>

<script>
import Footer from '@/components/Global/Footer'
import * as DataApi from '@/utils/dataApi'
const liff = window.liff
export default {
  middleware: 'checkAdmin',
  components: {
    Footer,
  },
  data() {
    return {}
  },
  async fetch() {
    // console.log('$store.getters.auth', this.$store.getters.getAuth)
  },
  created() {
    // this.$store.dispatch('setAuth', { status: true, level: 'superAdmin' })
    // this.lineInitTest()
  },
  methods: {
    lineInit() {
      liff
        .init({
          liffId: '1654805027-LnR0JRx8',
        })
        .then(() => {
          if (liff.isLoggedIn()) {
            liff.getProfile().then((profile) => {
              // this.$store.dispatch('setLine', profile)
              // console.log('profile', profile)
              console.log('getProfile ok')
              this.lineIsDone(profile)
            })
          } else {
            liff.login()
          }
        })
    },
    lineInitTest() {
      const profile = {
        displayName: 'Do Nirawit',
        pictureUrl:
          'https://profile.line-scdn.net/0h8sYneerhZ1xkF0ogqT8YC1hSaTETOWEUHHAsMkAUOm5OcCIJWnkrP0ASP2hKJiJdUXEuPkMXaTsb',
        statusMessage:
          '**working job E-Com,payment,Tragking,commission,Full-Dev**รับงาน Dev WebSite,WebApp,App',
        userId: 'U190074374a43d7f6354155264b726e3a',
      }
      this.lineIsDone(profile)
    },
    async lineIsDone(profile) {
      // Login Line success[OK]
      try {
        const res = await DataApi.checkliffAuth({ user_id: profile.userId })
        console.log(res)
        console.log(res.data.rows.member_status_level)
        if (res.data.ok) {
          this.$store.dispatch('setLine', profile)
          if (
            res.data.rows.member_status_level == 'admin' ||
            res.data.rows.member_status_level == 'superAdmin'
          ) {
            this.$store.dispatch('setAuth', {
              status: res.data.ok,
              level: res.data.rows.member_status_level,
            })
          } else if (res.data.rows.member_status_level == 'member') {
            this.$router.push({ name: 'queue' })
          } else {
            this.$router.push({ name: '' })
          }
        } else {
          this.$swal({
            icon: 'warning',
            title: 'เกิดข้อผิดพลาด',
            text: 'ไม่พบการ Auth',
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
          })
        }
      } catch (e) {
        console.log('error', e)
      }
    },
  },
}
</script>
