<template lang="html">
  <v-container fluid>
    <v-app-bar app color="light-green" dark fixed>
      <v-col class="d-flex justify-space-around">
        <v-toolbar-title class="display-1">ลงทะเบียน</v-toolbar-title>
      </v-col>
    </v-app-bar>
    <v-row justify="center">
      <v-col class="pa-0" cols="auto">
        <v-avatar size="180" class="elevation-6">
          <v-card>
            <!-- Fig Bug -->
            <img v-if="imageSrc" :src="imageSrc" style="width: 100%" />

            <!-- <v-img
              v-if="imageSrc != ''"
              lazy-src="/profile.png"
              :src="imageSrc"
              aspect-ratio="1"
              class="grey lighten-2"
            >
              <template #placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img> -->

            <v-row
              v-else
              class="fill-height pt-1"
              align="center"
              justify="center"
            >
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </v-card>
        </v-avatar>
        <!-- <p class="text-center mt-2 h6">{{ displayName }}</p> -->
      </v-col>
      <v-col cols="12" class="text-center mt-2">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row class="pb-0">
            <!-- <v-col cols="12" sm="12" class="text-center">
              <v-radio-group v-model="gender" class="p-0 m-t-0" row mandatory>
                <template v-slot:label>
                  <div>เพศ</div>
                </template>
                <v-radio value="1">
                  <template #label>
                    <div><v-icon color="blue">mdi-gender-male</v-icon>ชาย</div>
                  </template>
                </v-radio>
                <v-radio value="2">
                  <template #label>
                    <div>
                      <v-icon color="pink">mdi-gender-female</v-icon>หญิง
                    </div>
                  </template>
                </v-radio>
              </v-radio-group>
            </v-col> -->
            <v-col class="pb-0" cols="6">
              <v-select
                v-model="select_gender"
                :items="items_gender"
                label="เพศ"
                dense
                return-object
              >
                <template slot="selection" slot-scope="{ item }">
                  <v-icon :color="item.value == 1 ? 'blue' : 'pink'">{{
                    item.icon
                  }}</v-icon
                  >{{ item.text }}
                </template>
                <template slot="item" slot-scope="{ item }">
                  <v-icon :color="item.value == 1 ? 'blue' : 'pink'">{{
                    item.icon
                  }}</v-icon
                  >{{ item.text }}
                </template>
              </v-select>
            </v-col>
            <v-col class="pb-0" cols="6">
              <v-dialog
                ref="dialog"
                v-model="modal_start"
                :return-value.sync="date_hbd"
                persistent
                width="290px"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    class="pt-0 mt-0"
                    :value="computedDateFormatted"
                    label="วัน/เดือน/ปีเกิด"
                    prepend-icon="mdi-calendar"
                    :rules="[
                      (v) => !!v || 'กรุณากรอก วัน/เดือน/ปีเกิด ของท่าน!',
                    ]"
                    readonly
                    required
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date_hbd"
                  :max="date_max"
                  locale="th-TH"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal_start = false">
                    ปิด
                  </v-btn>
                  <v-btn
                    text
                    color="success"
                    @click="$refs.dialog.save(date_hbd)"
                  >
                    ตกลง
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>

          <v-row class="pb-0">
            <v-col cols="12" sm="12" class="pb-0">
              <v-text-field
                v-model="fullname"
                :rules="[
                  (v) => !!v || 'กรุณากรอก คำนำหน้า ชื่อ-นามสกุล ของท่าน!',
                ]"
                label="คำนำหน้า ชื่อ-นามสกุล"
                rounded
                outlined
                persistent-hint
                dense
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" class="mt-n4 pb-5">
              <VuePhoneNumberInput
                v-model="phone"
                :translations="{
                  countrySelectorLabel: 'รหัสประเทศ',
                  phoneNumberLabel: 'หมายเลขโทรศัพท์ที่ติดต่อได้',
                  example: 'ตัวอย่าง :',
                }"
                required
                @update="isValid = $event.isValid"
              />
              <div v-if="!isValid" class="mb-n1 text-caption red--text">
                กรุณาระบุ หมายเลขโทรศัพท์ที่ติดต่อได้
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" class="mt-n3 pb-0">
              <v-textarea
                v-model="congenitaldisease"
                outlined
                clearable
                clear-icon="mdi-eraser"
                label="โรคประจำตัว"
                placeholder="** หากมีโรคประจำตัว"
                auto-grow
                rows="1"
              ></v-textarea>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" class="mt-n12">
              <v-checkbox
                v-model="checkbox"
                readonly
                :rules="[(v) => !!v || 'กรุณา ยินยอมข้อกำหนดในการใช้งาน']"
                required
              >
                <template #label>
                  <div>
                    <v-btn dark @click="dialog = true"
                      >อ่านข้อกำหนด ในการใช้งานระบบ</v-btn
                    >
                  </div>
                </template>
              </v-checkbox>
              <v-dialog v-model="dialog" persistent max-width="350">
                <v-card>
                  <v-card-title class="headline warning white--text"
                    >อ่าน ข้อตกลงในการใช้งานระบบ!</v-card-title
                  >
                  <v-divider class="pa-2"></v-divider>
                  <v-card-text
                    >ยินยอมตามข้อกำหนด และโปรดให้ข้อมูลจริงกับเราด้วยนะค่ะ
                    เพื่อเป็นการบริการหรือติดต่อท่านได้ถูกต้องและมีความสะดวกรวดเร็วมากที่สุด</v-card-text
                  >

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red darken-1"
                      text
                      @click=";[(checkbox = false), (dialog = false)]"
                      >ไม่ยินยอม</v-btn
                    >
                    <v-btn
                      dark
                      color="green darken-1"
                      @click=";[(checkbox = true), (dialog = false)]"
                      >ยินยอม</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
          </v-row>

          <v-btn
            block
            :disabled="!valid"
            color="success"
            class="mt-n2 mr-4"
            large
            @click="validate"
          >
            ตกลง
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import * as DataApi from '@/utils/dataApi'
const liff = window.liff
export default {
  // middleware: 'notAuthenticated',
  layout: 'register',
  data: () => ({
    dialog: false,
    valid: true,
    fullname: null,
    displayName: null,
    // age: null,
    // weight: null,

    gender: 1,
    select_gender: { value: 1 },
    items_gender: [
      {
        text: 'ชาย',
        value: 1,
        icon: 'mdi-gender-male',
      },
      {
        text: 'หญิง',
        value: 2,
        icon: 'mdi-gender-female',
      },
    ],
    date_hbd: null,
    date_max: null,
    modal_start: false,
    phone: null,
    congenitaldisease: '',
    img_url: '',
    lineUserId: '',
    checkbox: false,
    isValid: false,
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date_hbd)
    },
    imageSrc() {
      return this.img_url
    },
  },
  created() {
    this.lineInit()
    // this.lineInitTest()
    this.date_max = this.$moment().format('YYYY-MM-DD')
  },
  methods: {
    // lineInit() {
    //   liff
    //     .init({
    //       liffId: '1654805027-LnR0JRx8',
    //     })
    //     .then(() => {
    //       if (liff.isLoggedIn()) {
    //         liff.getProfile().then((profile) => {
    //           console.log('profile', profile)
    //           // this.lineIsDone(profile)
    //           if (profile.userId) {
    //             console.log(profile);
    //             // this.lineIsDone(profile)
    //           }
    //         })
    //       } else {
    //         liff.login()
    //       }
    //     })
    // },
    async lineInit() {
      await liff.init({ liffId: '1654805027-LnR0JRx8' })
      if (liff.isInClient()) {
        this.getLineUserProfile()
      } else {
        if (liff.isLoggedIn()) {
          this.getLineUserProfile()
        } else {
          liff.login()
        }
      }
    },
    async getLineUserProfile() {
      const profile = await liff.getProfile()
      console.log('getLineUserProfile', profile)
      this.$store.dispatch('setLine', profile)
      this.displayName = profile.displayName
      this.img_url = profile.pictureUrl
      this.lineUserId = profile.userId
      await this.lineIsDone(profile)
    },
    lineInitTest() {
      const profile = {
        displayName: 'Do Nirawit',
        pictureUrl:
          'https://profile.line-scdn.net/0h8sYneerhZ1xkF0ogqT8YC1hSaTETOWEUHHAsMkAUOm5OcCIJWnkrP0ASP2hKJiJdUXEuPkMXaTsb',
        statusMessage:
          '**working job E-Com,payment,Tragking,commission,Full-Dev**รับงาน Dev WebSite,WebApp,App',
        userId: 'U190074374a43d7f6354155264b726e3a',
      }
      this.lineIsDone(profile)
    },
    async lineIsDone(profile) {
      // Login Line success[OK]
      // console.log('lineIsDone', profile)
      try {
        const res = await DataApi.checkliffAuth({ user_id: profile.userId })
        // console.log(res)
        if (res.data.ok) {
          this.$store.dispatch('setUser', res.data.rows)
          sessionStorage.setItem('token', res.data.token)

          // sessionStorage.getItem('token')
          // console.log('token', data)

          const data_auth = {
            status: res.data.ok,
            level: res.data.rows.member_status_level,
            exp: res.data.rows.exp,
          }

          this.$store.dispatch('setAuth', data_auth)

          if (
            res.data.rows.member_status_level === 'admin' ||
            res.data.rows.member_status_level === 'superAdmin'
          ) {
            this.$router.push({ name: 'manager' })
          } else if (res.data.rows.member_status_level === 'member') {
            this.$router.push({ name: 'queue' })
          } else {
            this.$router.push({ name: '' })
          }
        }
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'เกิดข้อผิดพลาด',
          text: e,
          footer:
            '<span style="color: red;">หรือกรุณาติดต่อ เจ้าหน้าที่ หรือผู้ดูแลระบบ</span>',
          // timer: 2000,
          // timerProgressBar: true,
          // showConfirmButton: false,
        })
      }
    },
    validate() {
      if (this.$refs.form.validate() === true && this.isValid === true) {
        // alert('ok')
        // this.$nuxt.rout.push({name:''})
        // this.$router.push({ name: 'queue' })
        const dataRegister = {
          fullname: this.fullname,
          img: this.img_url,
          birthday: this.date_hbd,
          tel: this.phone,
          congenitaldisease: this.congenitaldisease,
          line_userId: this.lineUserId,
          member_gender: this.select_gender.value,
        }
        this.registerLine(dataRegister)
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    async registerLine(data) {
      // try {
      const res = await DataApi.register(data)
      console.log('registerLine', res.data)
      if (res.data.ok) {
        // line check OK
        this.$router.push({ path: '/queue' })
      } else {
        this.$swal({
          icon: 'warning',
          title: 'แจ้งเตือน!',
          text: res.data.message,
          showConfirmButton: true,
        })
      }
      // } catch (e) {
      //   console.log('error', e)
      // }
    },
    formatDate(date) {
      if (!date) return null
      if (date < this.$moment().add(-7, 'years').format('YYYY-MM-DD')) {
        return this.$moment(date).add(543, 'years').format('Do MMM YYYY')
      } else {
        this.$swal({
          icon: 'warning',
          title: 'เกิดข้อผิดพลาด',
          text: 'ต้องอายุ มากกว่า 7 ปี ขึ้นไป',
          timer: 3000,
          timerProgressBar: true,
          showConfirmButton: false,
        })
        return ''
      }
    },
  },
}
</script>

<style lang="css" scoped></style>
