<template lang="html">
  <v-container fluid class="pa-0">
    <v-row justify="center">
      <Topbar title="ข้อมูลส่วนตัว" color-class="info" />
    </v-row>
    <v-row justify="center">
      <v-col class="pa-0" cols="auto">
        <v-avatar size="180" class="elevation-6">
          <v-card>
            <img
              v-if="getUser.member_img"
              lazy-src="/profile.png"
              :src="getUser.member_img"
              style="width: 100%"
            />
            <!-- <v-img
              v-if="$store.getters.getUser.member_img !== ''"
              :src="$store.getters.getUser.member_img"
              lazy-src="/profile.png"
              aspect-ratio="1"
              class="grey lighten-2"
            >
              <template #placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img> -->

            <v-row
              v-else
              class="fill-height pt-1"
              align="center"
              justify="center"
            >
              <v-progress-circular
                indeterminate
                color="grey lighten-5"
              ></v-progress-circular>
            </v-row>
          </v-card>
        </v-avatar>
        <!-- <p class="text-center mt-2 h6">{{ displayName }}</p> -->
      </v-col>
      <v-col cols="12" class="text-center mt-0">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row class="pb-0">
            <v-col class="pb-0" cols="6">
              <v-select
                v-model="profile.member_gender"
                :items="items_gender"
                label="เพศ"
                dense
                return-object
              >
                <template slot="selection" slot-scope="{ item }">
                  <v-icon :color="item.value == 1 ? 'blue' : 'pink'">{{
                    item.icon
                  }}</v-icon
                  >{{ item.text }}
                </template>
                <template slot="item" slot-scope="{ item }">
                  <v-icon :color="item.value == 1 ? 'blue' : 'pink'">{{
                    item.icon
                  }}</v-icon
                  >{{ item.text }}
                </template>
              </v-select>
            </v-col>
            <v-col class="pb-0" cols="6">
              <v-dialog
                ref="dialog"
                v-model="modal_start"
                :return-value.sync="profile.member_birthday"
                persistent
                width="290px"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    class="pt-0 mt-0"
                    :value="computedDateFormatted"
                    label="วัน/เดือน/ปีเกิด"
                    prepend-icon="mdi-calendar"
                    :rules="[
                      (v) => !!v || 'กรุณากรอก วัน/เดือน/ปีเกิด ของท่าน!',
                    ]"
                    readonly
                    required
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="profile.member_birthday"
                  :max="date_max"
                  locale="th-TH"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal_start = false">
                    ปิด
                  </v-btn>
                  <v-btn
                    text
                    color="success"
                    @click="$refs.dialog.save(profile.member_birthday)"
                  >
                    ตกลง
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>

          <v-row class="pb-0">
            <v-col cols="12" sm="12" class="pb-0">
              <v-text-field
                v-model="profile.member_fullname"
                :rules="[
                  (v) => !!v || 'กรุณากรอก คำนำหน้า ชื่อ-นามสกุล ของท่าน!',
                ]"
                label="คำนำหน้า ชื่อ-นามสกุล"
                rounded
                outlined
                persistent-hint
                dense
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" class="mt-n4 pb-5">
              <VuePhoneNumberInput
                v-model="profile.member_tel"
                :translations="{
                  countrySelectorLabel: 'รหัสประเทศ',
                  phoneNumberLabel: 'หมายเลขโทรศัพท์ที่ติดต่อได้',
                  example: 'ตัวอย่าง :',
                }"
                required
                @update="isValid = $event.isValid"
              />
              <div v-if="!isValid" class="mb-n1 text-caption red--text">
                กรุณาระบุ หมายเลขโทรศัพท์ที่ติดต่อได้
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" class="mt-n3 pb-0">
              <v-textarea
                v-model="profile.member_congenitaldisease"
                outlined
                clearable
                clear-icon="mdi-eraser"
                label="โรคประจำตัว"
                placeholder="** หากมีโรคประจำตัว"
                auto-grow
                rows="1"
              ></v-textarea>
            </v-col>
          </v-row>

          <v-btn
            block
            :disabled="!valid"
            color="success"
            class="mt-n2 mr-4"
            large
            @click="validate"
          >
            ตกลง
          </v-btn>
        </v-form>
      </v-col>
      <v-col cols="12" class="text-center pb-0">
        <v-icon slot="icon" color="orange darken-4" size="24"> mdi-git </v-icon>
        พัฒนาระบบโดย นักวิชาการคอมพิวเตอร์
        <a href="https://somdej17.moph.go.th/"
          >โรงพยาบาลสมเด็จพระสังฆราช องค์ที่ 17</a
        >
        <v-divider class="mt-2 pb-2"></v-divider>
        Version :
        <v-chip color="primary" small> V.0.0.1 </v-chip>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as DataApi from '@/utils/dataApi'
export default {
  middleware: 'authenticated',
  components: {
    Topbar,
  },
  data: () => ({
    dialog: false,
    valid: true,
    items_gender: [
      {
        text: 'ชาย',
        value: 1,
        icon: 'mdi-gender-male',
      },
      {
        text: 'หญิง',
        value: 2,
        icon: 'mdi-gender-female',
      },
    ],
    profile: {},
    formProfile: {},
    date_max: null,
    modal_start: false,
    isValid: false,
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.profile.member_birthday)
    },
    getUser() {
      return this.$store.getters.getUser
    },
  },
  created() {
    this.date_max = this.$moment().format('YYYY-MM-DD')
    this.getProfile()
  },
  methods: {
    validate() {
      if (this.$refs.form.validate() === true && this.isValid === true) {
        this.editProfile(this.profile)
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    async getProfile() {
      const res = await DataApi.getMyProfile()
      // console.log(res.data)
      if (res.data.ok) {
        this.profile = res.data.rows
        if (this.profile.member_tel) {
          this.isValid = true
        } else {
          this.isValid = false
        }
      } else {
        this.$swal({
          icon: 'warning',
          title: 'แจ้งเตือน!',
          text: res.data.message,
          showConfirmButton: true,
        })
      }
    },
    async editProfile(data) {
      const res = await DataApi.updateMyProfile(data)
      if (res.data.ok) {
        this.$swal({
          icon: 'success',
          title: 'บันทึกข้อมูล',
          text: 'เรียบร้อยแล้ว',
          showConfirmButton: true,
        })
      } else {
        this.$swal({
          icon: 'warning',
          title: 'แจ้งเตือน!',
          text: res.data.message,
          showConfirmButton: true,
        })
      }
    },
    formatDate(date) {
      if (!date) return null
      if (date < this.$moment().add(-7, 'years').format('YYYY-MM-DD')) {
        return this.$moment(date).add(543, 'years').format('Do MMM YYYY')
      } else {
        this.$swal({
          icon: 'warning',
          title: 'เกิดข้อผิดพลาด',
          text: 'ต้องอายุ มากกว่า 7 ปี ขึ้นไป',
          timer: 3000,
          timerProgressBar: true,
          showConfirmButton: false,
        })
        return ''
      }
    },
  },
}
</script>

<style lang="css" scoped></style>
