<template lang="html">
  <v-row>
    <Topbar title="การให้บริการ" />
    <v-col cols="12">
      <div class="subtitle-1">รายการให้บริการ</div>
      <v-sheet class="mx-auto" elevation="4">
        <v-slide-group
          v-model="slideevent_select"
          class="pa-0"
          mandatory
          center-active
        >
          <v-slide-item
            v-for="(item, index) in slideevent_item"
            :key="index"
            v-slot="{ active, toggle }"
            :value="item.id"
            height="120"
          >
            <v-card
              :color="active ? 'primary ' : 'grey lighten-1'"
              class="ma-2"
              height="120"
              width="200"
              @click="toggle"
            >
              <v-img
                lazy-src="https://picsum.photos/id/11/10/6"
                class="yellow--text align-end p-0"
                :gradient="
                  active ? '' : 'to bottom, rgba(0,0,0,.1), rgba(0,0,0,.8)'
                "
                max-height="120"
                max-width="200"
                :src="item.service_img_url"
              >
                <v-chip class="ma-0" color="primary" small>
                  <v-card-text class="pa-1">{{
                    item.service_name
                  }}</v-card-text>
                </v-chip>
              </v-img>
              <!-- <v-card class="text-center">
                <v-card-subtitle>
                  {{ item.service_name }}
                </v-card-subtitle>
              </v-card> -->
              <v-row
                class="p-0"
                align="center"
                justify="center"
                style="margin-top: -95px"
              >
                <v-scale-transition>
                  <v-icon
                    v-if="active"
                    color="success"
                    size="69"
                    v-text="'mdi-check-circle-outline'"
                  ></v-icon>
                </v-scale-transition>
              </v-row>
            </v-card>
          </v-slide-item>
        </v-slide-group>
        <v-row class="pa-2">
          <v-col cols="12 headline"
            >ดูรายละเอียด
            <span class="info--text">{{
              slideevent_detail.service_name
            }}</span></v-col
          >
          <v-col cols="12" class="mt-0">{{
            slideevent_detail.service_detail
          }}</v-col>

          <v-col cols="12">
            <div
              v-for="(item, index) in service_planthai_more_active"
              :key="index"
            >
              <div
                v-if="item.service_planthai_more_type == 'text'"
                v-html="item.service_planthai_more_data"
              ></div>
              <v-img
                v-else
                :key="index"
                :src="item.service_planthai_more_data"
                @click="openGallery(item.service_planthai_more_data)"
              />
            </div>
            <LightBox
              ref="lightbox"
              :media="service_planthai_more_active_img"
              :show-caption="false"
              :show-light-box="false"
            />
            <!-- <v-col cols="12">
              <v-img
                v-for="(image, index) in service_planthai_more_active_img"
                :key="index"
                :src="image.thumb"
                @click="openGallery(index)"
              />

              <LightBox
                ref="lightbox"
                :media="service_planthai_more_active_img"
                :show-caption="false"
                :show-light-box="false"
              />
            </v-col> -->
          </v-col>
        </v-row>
      </v-sheet>
    </v-col>

    <v-col cols="12" class="pt-0 mt-0">
      <v-container fluid> </v-container>
    </v-col>
  </v-row>
</template>

<script>
import Topbar from '@/components/Global/Topbar'
import * as DataApi from '@/utils/dataApi'

export default {
  components: {
    Topbar,
  },
  data: () => ({
    loading: false,
    search: '',
    page: 1,
    itemsPerPage: 3,
    items_news: [
      { title: 'Real-Time', icon: 'mdi-clock', textdetailHtml: '' },
      { title: 'Audience', icon: 'mdi-account', textdetailHtml: '' },
      { title: 'Conversions', icon: 'mdi-flag', textdetailHtml: '' },
      { title: 'Conversions2', icon: 'mdi-flag', textdetailHtml: '' },
      { title: 'Conversions3', icon: 'mdi-flag', textdetailHtml: '' },
      { title: 'Conversions4', icon: 'mdi-flag', textdetailHtml: '' },
    ],
    dialog: {
      status: false,
      title: '',
      text: '',
    },
    slideevent_select: null,
    slideevent_select_name: null,
    slideevent_item: {},
    slideevent_detail: {},
    service_planthai_more: {},
    service_planthai_more_active: [],
    tab: null,
    service_planthai_more_active_img: [],
    media: [
      {
        // For an image
        thumb: 'https://via.placeholder.com/250.png/09f/fff?text=third+img',
        src: 'https://via.placeholder.com/250.png/09f/fff?text=third+img',
      },
    ],
  }),
  computed: {
    numberOfPages() {
      return Math.ceil(this.items_news.length / this.itemsPerPage)
    },
  },
  watch: {
    slideevent_select() {
      console.log('v.slideevent_select', this.slideevent_select)

      this.slideevent_item.forEach((v) => {
        if (v.id == this.slideevent_select) {
          this.slideevent_select_name = v.service_name
          this.slideevent_detail = v
        }
      })
      this.service_planthai_more_active_img = []
      this.service_planthai_more_active = []
      this.service_planthai_more.forEach((v) => {
        if (v.ref_service_planthai_id == this.slideevent_select) {
          this.service_planthai_more_active.push(v)
          if (v.service_planthai_more_type == 'image') {
            this.service_planthai_more_active_img.push({
              thumb: v.service_planthai_more_data,
              src: v.service_planthai_more_data,
            })
          }
        }
      })
      console.log(
        'this.service_planthai_more_active',
        this.service_planthai_more_active
      )
    },
  },
  mounted() {
    console.log('mounted')
    this.getServicePlanthai()
  },
  methods: {
    async getServicePlanthai() {
      const res = await DataApi.servicePlanthai()
      console.log(res.data.rows)
      if (res.data.ok) {
        this.slideevent_item = res.data.rows
        this.service_planthai_more = res.data.rs_more
      }
    },
    openGallery(data) {
      const f_index = this.service_planthai_more_active_img.findIndex(
        (x) => x.src === data
      )
      this.$refs.lightbox.showImage(f_index)
    },
    handleAlert() {
      // this.$swal({ title: 'test', icon: 'warning', allowOutsideClick: false })
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        allowOutsideClick: false,
      }).then((result) => {
        if (result.value) {
          this.$swal('Deleted!', 'Your file has been deleted.', 'success')
        }
      })
    },
    handleDialog() {
      alert('handleDialog')
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number
    },
  },
}
</script>

<style lang="css" scoped></style>
