<template lang="html">
  <v-footer class="pt-1 pb--2">
    <v-bottom-navigation
      v-if="getAuth.level == 'superAdmin' && getAuth.status == true"
      grow
      color="red"
      fixed
      app
      class="green lighten-5 pt-2 pl-1 pr-1"
    >
      <v-btn v-for="(menu, i) in menusSuperAdmin" :key="i" :to="menu.url" exact>
        <span>{{ menu.title }}</span>
        <v-icon>{{ menu.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>

    <v-bottom-navigation
      v-else-if="getAuth.level == 'admin' && getAuth.status == true"
      grow
      color="red"
      fixed
      app
      class="green lighten-5 pl-1 pr-1"
    >
      <v-btn v-for="(menu, i) in menusAdmin" :key="i" :to="menu.url" exact>
        <span>{{ menu.title }}</span>
        <v-icon>{{ menu.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>

    <v-bottom-navigation
      v-else
      grow
      color="indigo"
      fixed
      app
      class="green lighten-5 pl-1 pr-1"
    >
      <v-btn v-for="(menu, i) in menus" :key="i" :to="menu.url" exact>
        <span>{{ menu.title }}</span>
        <v-icon>{{ menu.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        { title: 'จองคิวล่วงหน้า', icon: 'mdi-calendar-plus', url: '/queue' },
        { title: 'ตรวจสอบคิว', icon: 'mdi-alarm-check', url: '/queue/check_q' },
        { title: 'บริการ', icon: 'mdi-palette-swatch', url: '/service' },
        { title: 'ข้อมูลส่วนตัว', icon: 'mdi-account-cog', url: '/profile' },
      ],
      menusAdmin: [
        { title: 'จัดการคิว', icon: 'mdi-calendar-plus', url: '/manager' },
        {
          title: 'จัดการให้บริการ',
          icon: 'mdi-palette-swatch',
          url: '/manager/slot_service',
        },
        { title: 'ข้อมูลส่วนตัว', icon: 'mdi-account-cog', url: '/profile' },
      ],
      menusSuperAdmin: [
        { title: 'จัดการคิว', icon: 'mdi-calendar-plus', url: '/manager' },
        {
          title: 'จัดการบริการ',
          icon: 'mdi-palette-swatch',
          url: '/manager/service',
        },
        {
          title: 'ผู้ใช้งาน',
          icon: 'mdi-account-group',
          url: '/manager/member',
        },
        { title: 'ข้อมูลส่วนตัว', icon: 'mdi-account-cog', url: '/profile' },
      ],
    }
  },
  computed: {
    getAuth() {
      return this.$store.getters.getAuth
    },
  },
}
</script>

<style lang="css" scoped>
#btn-logout {
  color: #ffffff !important;
}
#menu-footer-app .v-btn--active .v-icon {
  font-size: 35px;
}
</style>
