<template>
  <v-app-bar app :color="colorClass" dark fixed>
    <v-col class="d-flex justify-space-around">
      <v-toolbar-title class="display-1">{{ title }}</v-toolbar-title>
    </v-col>
    <v-spacer></v-spacer>
    <v-menu left bottom>
      <template #activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-avatar>
            <img
              :src="getUser.member_img"
              lazy-src="/profile.png"
              :alt="getUser.member_fullname"
            />
          </v-avatar>
        </v-btn>
      </template>
    </v-menu>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default() {
        return 'จองคิวล่วงหน้า'
      },
    },
    colorClass: {
      type: String,
      default() {
        return 'indigo'
      },
    },
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser
    },
  },
}
</script>

<style lang="css" scoped></style>
